<aside class="menu">
  <ul class="menu-list">
    <li>
      <a [routerLink]="['/profile']">
        <img *ngIf="user.profileImage" class="ps-user-image"
             src="{{user.profileImage? config.imagesEndpoint + '/profile/' + user.profileImage :
                      'http://bulma.io/images/placeholders/640x480.png'}}" >
        <svg *ngIf="!user.profileImage" class="ps-user-image" width="36" height="36" [identiconHash]="emailHash">
          Fallback text for browsers not supporting inline svg
        </svg>
      </a>
    </li>
    <li>
      <a #notifications (click)="toggleNotifications()">
        <span class="icon-bell"></span>
        <span class="ps-notification-count" *ngIf="user.pendingInvitations.length>0">{{user.pendingInvitations.length}}</span>
      </a>
    </li>
    <li><a class="is-active" [routerLink]="['dashboard']"><span class="icon-dashboard"></span></a></li>

    <li><a (click)="signout()"><span class="icon-sign-out ps-reverse-icon"></span></a></li>
  </ul>
</aside>


<notification *ngIf="notificationIsActive" class="ps-notifications-container"
              [user]="user" (clickedOutside)="clickedOutside($event)"></notification>
