@import "../../../sass/variables"

$side-menu-item-size: $side-menu-size - 8px

.menu
  width: $side-menu-size
  height: 100%
  background-color: $ink
  .menu-list
    padding-top: 1rem
    padding-bottom: 1rem
    height: 90% !important
    position: relative
    display: flex
    flex-direction: column
    .ps-fill-space
      flex-grow: 1
    li
      padding: 4px
      a
        display: flex
        transition: all ease-in-out $ps-transitions
        border-radius: 100%
        padding: 0
        position: relative
        height: $side-menu-item-size
        max-height: $side-menu-item-size
        .ps-user-image
          margin: auto
          width: $side-menu-item-size - 8px
          height: $side-menu-item-size - 8px
          border: 1px solid $ink
          border-radius: 100%
        &.is-active
          background-color: $primary
        &.is-disabled
          cursor: not-allowed
          background-color: #4B895E !important
          &:hover
            background-color: inherit
        &:hover
          background-color: $primary
        span
          font-size: 24px
          display: block
          text-align: center
          margin: auto
          color: $paper
          &.ps-reverse-icon:before
            transform: rotate(180deg)


.ps-notifications-container
  position: absolute
  left: $side-menu-size
  width: 300px
  max-height: 400px
  overflow-y: auto
  box-shadow: 0 0 5px #777777
  @media (max-width: $ps-mobile)
    width: 250px

.ps-notifications-container-top
  top: $side-menu-size + 16px

.ps-alert-bottom
  background-color: rgba(246, 249, 254, 0.65)
  top: unset
  bottom: $side-menu-size + 16px

.ps-notification-count
  background-color: $light-red
  border-radius: 100%
  width: 16px
  height: 16px
  color: $paper
  padding: 1px 3px
  font-size: 12px !important
  position: absolute
  top: 10px
  right: 8px
  text-align: center
