<aside class="menu">
  <ul class="menu-list">
    <li>
      <a [routerLink]="['/profile']" (click)="updateIndex(1)" [ngClass]="{'is-active': activeItemNumber === 1 }" >
        <img *ngIf="user.profileImage" class="ps-user-image"
             src="{{user.profileImage? config.imagesEndpoint + '/profile/' + user.profileImage :
                      'http://bulma.io/images/placeholders/640x480.png'}}" >
        <svg *ngIf="!user.profileImage" class="ps-user-image" width="36" height="36" [identiconHash]="emailHash">
          Fallback text for browsers not supporting inline svg
        </svg>
      </a>
    </li>
    <li>
      <a [ngClass]="{'is-active': activeItemNumber === 2 }" #notifications (click)="toggleNotifications()">
        <span class="icon-bell"></span>
        <span class="ps-notification-count" *ngIf="user.pendingInvitations.length>0">{{user.pendingInvitations.length}}</span>
      </a>
    </li>
    <li><a [ngClass]="{'is-active': activeItemNumber === 3 }" [routerLink]="['dashboard']" (click)="updateIndex(3)"><span class="icon-dashboard"></span></a></li>
    <li><a [ngClass]="{'is-active': activeItemNumber === 4 , 'is-disabled': !netConnected}" title="{{ netConnected ? '' : 'Offline mod!'}}" (click)="signout()"><span class="icon-sign-out ps-reverse-icon"></span></a></li>
    <li class="ps-bug-report" >
      <a [ngClass]="{'is-active': activeItemNumber === 5 }" (click)="togglePendulumNotifications()">
        <span class="icon-bug"></span>
        <span class="ps-notification-count">!</span>
      </a>
    </li>
  </ul>
</aside>

<notification #notifications *ngIf="notificationIsActive" class="ps-notifications-container ps-notifications-container-top"
              [user]="user" (clickedOutside)="clickedOutSide($event)"></notification>

<article class="message is-info ps-notifications-container ps-alert-bottom" *ngIf="pendulumNotification">
  <div class="message-body">
    <p>
      <strong><span class="icon-error"></span> THIS IS ALPHA SOFTWARE.</strong>
      This software is pre-release, which means there are likely to be bugs our testing didn't catch. So be aware of data loosing.
      <br>
      Please inform us about that bugs we didn't catch in our testing <a href="https://github.com/Pendulum-Swing/web-client/issues" target="_blank"> here</a>.
    </p>
  </div>
</article>

