<aside class="menu">
  <ul class="menu-list">
    <li title="Profile">
      <a [routerLink]="['/profile']" (click)="updateIndex(1)" [ngClass]="{'is-active': activeItemNumber === 1 }" >
        <img *ngIf="user.profileImage" class="ps-user-image"
             src="{{user.profileImage? environment.imagesEndpoint + '/profile/' + user.profileImage :
                      'assets/images/placeholder.png'}}" >
        <svg *ngIf="!user.profileImage" class="ps-user-image" width="36" height="36" [identiconHash]="emailHash">
          Fallback text for browsers not supporting inline svg
        </svg>
      </a>
    </li>
    <li title="Dashboard"><a [ngClass]="{'is-active': activeItemNumber === 3 }" [routerLink]="['dashboard']" (click)="updateIndex(3)"><span class="icon-dashboard"></span></a></li>
    <li title="note"><a [ngClass]="{'is-active': activeItemNumber === 8 }" [routerLink]="['notes']" (click)="updateIndex(8)"><span class="icon-sticky-note-o"></span></a></li>
    <li title="Notifications">
      <a [ngClass]="{'is-active': activeItemNumber === 2 }" #notifications (click)="toggleNotifications()">
        <span class="icon-bell"></span>
        <span class="ps-notification-count" *ngIf="user.pendingInvitations.length + notifNum > 0">{{user.pendingInvitations.length + notifNum}}</span>
      </a>
    </li>
    <li title="Sync">
      <a (click)="syncSummary()" [ngClass]="{'is-disabled': !netConnected, 'ps-sync-animation': syncing, 'ps-sync-disable': syncing}" style="transform: rotate(0deg);">
        <span class="icon-refresh"></span>
      </a>
    </li>
    <li class="ps-fill-space"></li>
    <li title="{{ netConnected ? 'Sign out' : 'Offline mode!'}}"><a [ngClass]="{'is-active': activeItemNumber === 4 , 'is-disabled': !netConnected}" (click)="signout()"><span class="icon-sign-out"></span></a></li>
    <li title="Report bug" id="bug-report-icon">
      <a [ngClass]="{'is-active': activeItemNumber === 5 }" (click)="togglePendulumNotifications()">
        <span class="icon-bug"></span>
        <span class="ps-notification-count">!</span>
      </a>
    </li>
    <li title="New Features">
      <a (click)="showModal('AppInfoComponent')">
        <span class="icon-info-circled-alt"></span>
      </a>
    </li>
  </ul>
</aside>

<notification #notifications *ngIf="notificationIsActive" class="ps-notifications-container ps-notifications-container-top"
              [user]="user" (clickedOutSideOfNotification)="clickedOutSideOfNotification($event)"></notification>

<article id="bug-report" class="message ps-notifications-container ps-alert-bottom" *ngIf="pendulumNotification">
  <div class="message-body">
    <p class="ps-bug-report-text">
      Please inform us about that bugs we didn't catch in our testing <a href="https://github.com/Swing-team/pendulums-web-client/issues" target="_blank"> here</a>.
    </p>
  </div>
</article>

<app-donation #donation *ngIf="donationIsActive" class="ps-notifications-container ps-notifications-container-top"
              (clickedOutSideOfDonation)="clickedOutSideOfDonation($event)"> </app-donation>
