@import "../../../sass/variables"

$item-size: 64px

.menu
  width: $item-size
  height: 100%
  background-color: $primary-light
  .menu-list li a
    height: $item-size
    padding: 15px
    .ps-user-image
      width: 36px
      height: 36px
      border: 1px solid $ink
      border-radius: 100%
    &.is-active
      background-color: transparent
    &:hover
      background-color: $primary
    span
      font-size: 24px
      vertical-align: middle
      color: $paper
      &.ps-reverse-icon:before
        transform: rotate(180deg)

.ps-profile
  position: absolute
  top: 10px
  left: $item-size
  width: 300px
