<div [ngClass]="{'ps-back-white1': !note.colorPalette  || note.colorPalette == 0,
                  'ps-back-salmon': note.colorPalette == 1,
                  'ps-back-blue': note.colorPalette == 2,
                  'ps-back-black': note.colorPalette == 3,
                  'ps-back-yellow': note.colorPalette == 4,
                  'ps-back-pink': note.colorPalette == 5,
                  'ps-back-red': note.colorPalette == 6,
                  'ps-back-green': note.colorPalette == 7,
                  'ps-full-height': setFullHeight
                }" class="ps-note-item-container">
  <div class="card ps-note-item-card" [ngClass]="{'ps-full-height': setFullHeight}">
    <div class="card-content ps-note-item-card-content" [ngClass]="{'ps-full-height': setFullHeight}">
      <div (click)="editModal()" class="ps-note-item-card-content-media">
        <div class="ps-note-item-card-title">{{note.title}}</div>
      </div>
      <div (click)="editModal()" class="ps-note-item-card-body" [innerHTML]="note.content | safeHtml">{{note.content}}</div>
      <div class="has-text-right columns is-mobile ps-note-item-card-icons ps-note-item-delete">

        <div *ngIf="projectsId && projectsId[note.project] && !deleteConfirmation" class="column is-four-fifths has-text-left overflow-hidden tag-container">
          <span class="tag tag-border is-white">{{projectsId[note.project]}}</span>
        </div>
        <div class="column">
          <span *ngIf="!deleteConfirmation">
            <i class="icon-trash" (click)="deleteNote()" title="Delete Note"></i>
          </span>
          <div class="ps-note-item-button is-pulled-right" *ngIf="deleteConfirmation">
            <a  *ngIf="!deleteButtonDisabled" class="button ps-note-item-button-confirmation" (click)="cancelDelete()" title="Cancel Delete">
              <span class="icon">
                <i class="icon-cancel" [ngClass]="{'has-text-danger': !deleteButtonDisabled}"></i>
              </span>
            </a>
            <a  class="button ps-note-item-button-confirmation" [ngClass]="{'is-loading': deleteButtonDisabled}" (click)="confirmDelete()" title="Confirm Delete">
              <span class="icon">
                <i class="icon-check" [ngClass]="{'has-text-success': !deleteButtonDisabled}"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


