@import '../../../sass/variables.sass'
  
  
.ps-stat-chart-container
  background-color: $white1
  border-radius: $radius
  display: flex
  flex-direction: column
  justify-content: flex-start
  height: $ps-widget-size

  .ps-no-activities-container
    margin-top: auto
    margin-bottom: auto
    .ps-no-activities
      font-weight: bold
      color: $primary
      font-size: 18px
  
  .ps-stat-chart-select
    margin-top: 8px
    margin-left: auto
    margin-right: auto
    width: 33%
    border: 2px solid $primary
    border-radius: $radius

  .ps-chart-container
    display: flex
    height: 80%
    width: 90%
    padding-left: 24px
    padding-top: 12px

