<form (ngSubmit)="createProject()" #createProjectForm="ngForm" novalidate>
  <div class="is-centered">
    <div dir="auto">
      <div class="columns is-gapless is-mobile">
        <div class="column is-2 ps-header-vertical-align">
          <div class="column" style="padding: unset">
            <div class="image is-1by1">
              <input #projectImageElem type="file" name="projectImage" style="display:none" (change)="getFiles($event)" accept="image/">
              <img class="ps-radius-image" (click)="projectImageElem.click()" [src]="previewImage ? previewImage : '../../../../assets/images/placeholder.png'">
              <span (click)="projectImageElem.click()" class="icon-pencil ps-pencil-image-change" ></span>
            </div>
          </div>
          <div style="display: none;">
            <img #canvasPreviewImageElem [src]="canvasPreviewImage" style="max-width: unset;" (load)="resizeImage()">
            <canvas #projectImageCanvasElem></canvas>
          </div>
        </div>
        <div class="column is-10 ps-header-vertical-align ps-padding-left">
          <input [(ngModel)]="project.name" name="name" class="input ps-header-input"
                 placeholder="untitled project..." type="text">
        </div>
      </div>
      <div class="columns is-gapless is-mobile ps-inviting-user">
        <div class="column">
          <div class="field">
            <p class="control">
              <input [(ngModel)]="user.email" name="Email" class="input ps-body-input ps-email-input"
                     placeholder="Enter email address ..." type="text">
            </p>
          </div>
        </div>
        <div class="column is-5">
          <div class="field">
            <p class="control">
              <span class="select is-fullwidth">
                <select class="ps-body-input ps-left-border"
                        [(ngModel)]="user.role" name="Role">
                  <option *ngFor="let c of roles" [ngValue]="c"
                          [selected]="c == 'team member'">{{c}}</option>
                </select>
              </span>
            </p>
          </div>
        </div>
        <div class="column is-1 ps-line-height" title="Invite user">
          <div class="field">
            <p class="control has-text-centered">
              <i class="icon-plus ps-body-button" (click)="invite()"></i>
            </p>
          </div>
        </div>
      </div>
      <ng-container *ngIf="project.invitedUsers.length > 0">
        <div *ngFor='let invited of project.invitedUsers;trackBy:let i = index'
             class="columns is-gapless is-mobile ps-invited-user-item">
          <svg width="36" height="36" [identiconHash]="userEmailHash(invited.email)">
            Fallback text for browsers not supporting inline svg
          </svg>
          <span class="column ps-invited-user-email">
          {{invited.email}}
        </span>
          <span class="column is-5 ps-invited-user-role">
          {{invited.role}}
        </span>
          <span class="column is-1">
          <i class="icon-trash is-danger ps-body-button" (click)="delete(i)"></i>
        </span>
        </div>
      </ng-container>

      <ng-container *ngIf="project.invitedUsers.length === 0">
        <div class="field ps-empty-list">
          <p class="control has-text-centered">
            The list of invited users is empty!
          </p>
        </div>
      </ng-container>

      <div class="ps-submit-button">
        <p class="control">
          <button class="button is-primary is-fullwidth ps-none-radius is-loading"
                  type="submit" [disabled]="formSubmitted" [ngClass]="{'is-loading': formSubmitted}">
            Create
          </button>
        </p>
      </div>
    </div>
  </div>
</form>
