.ps-header-input
  border: none
  padding: 25px
  font-size: 30px

.ps-body-input
  box-shadow: unset
  border-color: black
  border-radius: unset

.ps-body-textBox
  border-width: 1px 0 1px 1px
  border-style: solid

.ps-header-delete-button
  position: absolute
  top: 0
  right: 0
  border-radius: 0 0 0 10px

.ps-none-background
  background-color: unset

.ps-none-radius
  border-radius: unset !important

.ps-submit-button
  position: absolute
  bottom: 0
  width: 100%
  margin-left: -20px

.ps-figure-2by1
  background-color: #333333
  overflow: hidden
  text-align: center
