<form (ngSubmit)="createProject()" #createProjectForm="ngForm" novalidate>
  <div class="is-centered">
    <div dir="auto">
      <div class="columns is-gapless is-mobile">
        <div class="ps-header-vertical-align">
          <div style="padding: unset">
            <div class="image">
              <input #projectImageElem type="file" name="projectImage" style="display:none" (change)="getFiles($event)" accept="image/">
              <figure [ngStyle]="{'background-image': previewImage ? 'url(' + previewImage + ')' : 'url(\'assets/images/placeholder.png\')'}"
              (click)="projectImageElem.click()" class="ps-image-resize">
              </figure>
              <span (click)="projectImageElem.click()" class="icon-pencil ps-pencil-image-change" ></span>
            </div>
          </div>
          <div style="display: none;">
            <img #canvasPreviewImageElem [src]="canvasPreviewImage" style="max-width: unset;" (load)="resizeImage()">
            <canvas #projectImageCanvasElem></canvas>
          </div>
        </div>
        <div class="column ps-header-vertical-align ps-padding-left">
          <input [(ngModel)]="project.name" name="name" class="input ps-header-input"
                 placeholder="untitled project..." type="text">
          <div class="ps-project-create-color-picker-container">
            <p class="ps-project-create-color-picker-title"> Project color : </p>
            <div class="ps-project-create-palette-container">
              <p class="ps-project-create-color" title="click to change color">
                <a id="id2" class="button is-fullwidth" (click)="togglePalette()"
                   [ngClass]="{'ps-project-create-palette-item-back-white1': project.colorPalette == 0,
                               'ps-project-create-palette-item-back-salmon': project.colorPalette == 1,
                               'ps-project-create-palette-item-back-blue': project.colorPalette == 2,
                               'ps-project-create-palette-item-back-black': project.colorPalette == 3,
                               'ps-project-create-palette-item-back-yellow': project.colorPalette == 4,
                               'ps-project-create-palette-item-back-pink': project.colorPalette == 5}">
                </a>
              </p>
              <div #projectCreatePalette [ngStyle]="{'display': showPaletteBoolean ? 'block' : 'none'}" class="ps-project-create-palette">
                <div class="ps-project-create-palette-colors-section">
                  <div *ngFor='let index of [0,1,2,3,4,5]' class="ps-project-create-palette-item">
                    <a id="id1" class="button is-fullwidth" (click)="selectColor(index)"
                       [ngClass]="{'ps-project-create-palette-item-back-white1': index == 0,
                                   'ps-project-create-palette-item-back-salmon': index == 1,
                                   'ps-project-create-palette-item-back-blue': index == 2,
                                   'ps-project-create-palette-item-back-black': index == 3,
                                   'ps-project-create-palette-item-back-yellow': index == 4,
                                   'ps-project-create-palette-item-back-pink': index == 5}">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns is-gapless is-mobile ps-inviting-user">
        <div class="column">
          <div class="field">
            <p class="control">
              <input [(ngModel)]="user.email" name="Email" class="input ps-body-input ps-email-input"
                     placeholder="Enter email address ..." type="text" (blur)="invite()">
            </p>
          </div>
        </div>
        <div class="column is-5">
          <div class="field">
            <p class="control">
              <span class="select is-fullwidth">
                <select class="ps-body-input ps-left-border"
                        [(ngModel)]="user.role" name="Role">
                  <option *ngFor="let c of roles" [ngValue]="c"
                          [selected]="c == 'team member'">{{c}}</option>
                </select>
              </span>
            </p>
          </div>
        </div>
        <div class="column is-1 ps-line-height" title="Invite user">
          <div class="field">
            <p class="control has-text-centered">
              <i class="icon-plus ps-body-button"></i>
            </p>
          </div>
        </div>
      </div>
      <ng-container *ngIf="project.invitedUsers.length > 0">
        <div *ngFor='let invited of project.invitedUsers;trackBy:let i = index'
             class="columns is-gapless is-mobile ps-invited-user-item">
          <svg width="36" height="36" [identiconHash]="userEmailHash(invited.email)">
            Fallback text for browsers not supporting inline svg
          </svg>
          <span class="column ps-invited-user-email">
          {{invited.email}}
        </span>
          <span class="column is-5 ps-invited-user-role">
          {{invited.role}}
        </span>
          <span class="column is-1">
          <i class="icon-trash is-danger ps-body-button" (click)="delete(i)"></i>
        </span>
        </div>
      </ng-container>

      <ng-container *ngIf="project.invitedUsers.length === 0">
        <div class="field ps-empty-list">
          <p class="control has-text-centered">
            The list of invited users is empty!
          </p>
        </div>
      </ng-container>

      <div class="ps-submit-button">
        <p class="control">
          <button class="button is-primary is-fullwidth is-loading"
                  type="submit" [disabled]="formSubmitted" [ngClass]="{'is-loading': formSubmitted}">
            Create
          </button>
        </p>
      </div>
    </div>
  </div>
</form>
