@import '../../../../../sass/variables'

.ps-header-input
  border: none
  font-size: 30px
  box-shadow: none
  text-align: center
  @media (max-width: 480px)
    font-size: 20px

.ps-border-red
  border: 1px solid red

.ps-image-container
  width: 100px
  height: 100px

.ps-container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center


.ps-checkbox-container
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  padding-right: 100px
  padding-left: 100px
  margin-bottom: 10px

.ps-text-gray-small
  font-size: small
  color: #4f534f

.ps-update-project-button
  padding: 10px
  margin-top: 30px

