<section *ngIf="!submitted" class="hero is-fullheight is-success is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="ps-auth-back column is-4 is-offset-4">
        <form (ngSubmit)="resetRequest()" #ressetRequestForm="ngForm" novalidate>
          <div class="is-centered">
            <div dir="auto">
              <div class="field">
                <h3 class="title is-4 ps-has-primary-color ">
                  Pendulum Time Tracking
                </h3>
              </div>
              <div [style.visibility]="errorMessage ? 'unset' : 'hidden'" class="notification ps-login-error has-text-centered">
                <span class="icon">
                <i class="icon-error"></i>
                </span>
                <span class="is-info">{{errorMessage}}</span>
              </div>
              <div class="field">
                <p class="control">
                  <input [(ngModel)]="User.email" name="email" class="input"
                         placeholder="Email" type="email">
                </p>
              </div>
              <div class="ps-reserve-space"></div>
              <div class="field">
                <p class="control">
                  <button class="button is-primary is-fullwidth" type="submit" [disabled]="submitted">Rest password
                  </button>
                </p>
              </div>
              <div class="ps-reserve-space"></div>
              <div class="field">
                <p class="control" style="text-align: center !important;">
                  <button class="button ps-google-login" (click)="goBack()">
                    Back
                  </button>
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<section *ngIf="submitted" class="hero is-fullheight is-success is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="ps-auth-back column is-4 is-offset-4">
        <form>
          <div class="is-centered">
            <div dir="auto">
              <div class="field">
                <h3 class="title is-4 ps-has-primary-color ">
                  Pendulum Time Tracking
                </h3>
              </div>
              <div class="ps-reserve-big-space"></div>
              <div class="field">
                <div class="field">
                  <p class="ps-has-primary-color">Please checkout your email and reset your password, then come back and
                    sign in.</p>
                </div>
              </div>
              <div class="ps-reserve-big-space"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
