
.icon-bell:before { content: '\e800'; } /* '' */
.icon-settings:before { content: '\e801'; } /* '' */
.icon-stop:before { content: '\e802'; } /* '' */
.icon-play:before { content: '\e803'; } /* '' */
.icon-pencil:before { content: '\e804'; } /* '' */
.icon-check:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-stopwatch:before { content: '\e807'; } /* '' */
.icon-plus:before { content: '\e808'; } /* '' */
.icon-arrow-right:before { content: '\e809'; } /* '' */
.icon-trash:before { content: '\e80a'; } /* '' */
.icon-error:before { content: '\e80b'; } /* '' */
.icon-group:before { content: '\e80c'; } /* '' */
.icon-statistic:before { content: '\e80d'; } /* '' */
.icon-back:before { content: '\e80e'; } /* '' */
.icon-menu:before { content: '\e80f'; } /* '' */
.icon-dashboard:before { content: '\e815'; } /* '' */
.icon-sign-out:before { content: '\e81b'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */