
.icon-mail:before { content: '\e800'; } /* '' */
.icon-back:before { content: '\e801'; } /* '' */
.icon-bmi:before { content: '\e802'; } /* '' */
.icon-cake:before { content: '\e803'; } /* '' */
.icon-error:before { content: '\e804'; } /* '' */
.icon-height:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-male:before { content: '\e807'; } /* '' */
.icon-meal-plan:before { content: '\e808'; } /* '' */
.icon-medal-1:before { content: '\e809'; } /* '' */
.icon-medal-2:before { content: '\e80a'; } /* '' */
.icon-medal-3:before { content: '\e80b'; } /* '' */
.icon-menu:before { content: '\e80c'; } /* '' */
.icon-password:before { content: '\e80d'; } /* '' */
.icon-phone:before { content: '\e80e'; } /* '' */
.icon-settings:before { content: '\e80f'; } /* '' */
.icon-trainers-list:before { content: '\e810'; } /* '' */
.icon-workout-plan:before { content: '\e811'; } /* '' */
.icon-trash:before { content: '\e812'; } /* '' */
.icon-weight:before { content: '\e813'; } /* '' */
.icon-female:before { content: '\e814'; } /* '' */
.icon-dashboard:before { content: '\e815'; } /* '' */
.icon-add-trainer:before { content: '\e816'; } /* '' */
.icon-statistic:before { content: '\e817'; } /* '' */
.icon-create-a-new-workout:before { content: '\e818'; } /* '' */
.icon-open-eye:before { content: '\e819'; } /* '' */
.icon-search:before { content: '\e81a'; } /* '' */
.icon-sign-out:before { content: '\e81b'; } /* '' */
.icon-workout-management:before { content: '\e81c'; } /* '' */
.icon-close-eye:before { content: '\e81d'; } /* '' */
.icon-bell:before { content: '\e81e'; } /* '' */
.icon-check:before { content: '\e81f'; } /* '' */
.icon-cancel:before { content: '\e820'; } /* '' */
.icon-stopwatch:before { content: '\e821'; } /* '' */
.icon-group:before { content: '\e822'; } /* '' */
.icon-pencil:before { content: '\e823'; } /* '' */
.icon-stop:before { content: '\e824'; } /* '' */
.icon-play:before { content: '\e825'; } /* '' */
.icon-pause:before { content: '\e826'; } /* '' */
.icon-stop-1:before { content: '\e827'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */