// Colors
$primary:         #2A7E43 !default
$primary-light:   #4F9D67 !default
$secondary:       #AA4839 !default
$accent:          #8F305B !default
$google-login:    #DD4B39 !default
$red:             #EC6A7C !default
$paper:           #fafafa !default
$ink:             #20232A !default
$app-background:   #435147 !default

// Bulma Colors
$success:      $primary-light !default

// Miscellaneous
$radius: 4px !default
$radius-small: 4px !default

// Generated variables
$body-background: $app-background

// Screen sizes
$ps-mobile: 480px
$ps-small-screen-size: 400px
