@import "../../../sass/variables"

.tabs a
  background-color: $white
  color: $cornflowerBlue
  border: none
  &:hover
   border: none
.tabs li
  width: 130px

.tabs.is-toggle
  li.is-active a
    background-color: $cornflowerBlue
    color: $white
    border: none
    &:hover
      border: none

