@font-face {
  font-family: 'Roboto';
  src: url('https://pendulums.io/fonts/Roboto-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('https://pendulums.io/fonts/Roboto-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

body {
  font-family: Roboto !important;
  margin: 0px 0px 8px 0px !important;
}

.ps-tray-container {
  display: flex;
  flex-direction: column;
  max-height: 100%
}

.ps-tray-nav {
  overflow: hidden;
}
.ps-nav {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.nav-item {
  justify-content: flex-start;
  flex-shrink: 0;
  line-height: 1.5;
  padding: .5rem .75rem;
  flex-grow: 0;
  display: flex;
  align-items: center;
}
.nav-item a {
  flex-grow: 1;
  flex-shrink: 0;
}

.ps-nav .ps-nav-level1, .ps-nav .ps-nav-level2  {
  color: #46476f;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-left: 10px;
  margin-right: 10px;
}

.ps-nav-level1 {
  margin-top: 5px;
}

.ps-nav .ps-nav-level1 .nav-item {
  width: 100%;
  position: relative;
}
.ps-nav .ps-nav-level1 .nav-item .ps-nav-input {
  vertical-align: top;
  background-color: #fff;
  font-family: Roboto;
  outline: none;
  justify-content: flex-start;
  display: inline-flex;
  align-items: center;
  margin: 0;
  width: 100%;
  max-width: 100%;
  height: 2.5em;
  position: relative;
  z-index: 1;
  border: none !important;
  box-shadow: none;
  text-align: center;
  color: #46476f;
  font-weight: 500;
  font-size: 1rem;
  padding: 4px;
  line-height: 2rem;
  transition: all ease-in-out 200ms;
}
.ps-nav .ps-nav-level1 .nav-item .ps-nav-input:not(:focus) {
  background-color: #ffffff;
  padding: 4px;
  z-index: 2;
  color: #46476f;
  font-weight: 500;
  line-height: 2.5rem;
  text-align: center;
}
.ps-nav .ps-nav-level1 .nav-item .ps-nav-input:not(:focus) {
  background-color: #f2f8f8;
}
.ps-nav .ps-nav-level1 .nav-item .ps-nav-input:focus {
  background-color: #f2f8f8;
}

.ps-nav .ps-nav-level1 .nav-item:after, .ps-nav .ps-nav-level1 .nav-item:before {
  content: "";
  min-width: 3px;
  height: 35px;
  background-color: #46476f;
  margin: auto;
}

.ps-nav .ps-nav-level2 .ps-nav-time-span {
  color: #46476f;
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  transition: width 500ms;
}
.ps-show-time {
  width: 100% !important;
}
.ps-nav .ps-nav-level2 .ps-nav-time-span .ps-display-span-time {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: auto;
  font-size: 16px;
  padding-left: 10px;
}
.ps-nav .ps-nav-level2 .ps-nav-time-span .ps-time-indicator {
  border-radius: 100%;
  width: 12px;
  height: 12px;
  background-color: #95000e;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0%   {opacity: 0;}
  50%  {opacity: .5;}
  100% {opacity: 1 ;}
}
