@font-face {
  font-family: 'Roboto';
  src: url('https://pendulums.io/fonts/Roboto-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('https://pendulums.io/fonts/Roboto-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

body {
  font-family: Roboto !important;
  margin: 0px 0px 8px 0px !important;
}

.ps-tray-container {
  display: flex;
  flex-direction: column;
  max-height: 100%
}

.ps-tray-menu {
  background-color: #4b4942;
  padding: 5px;
  color: #f2f2f2;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ps-tray-menu .ps-tray-top-menu-select {
  background-color: #4b4942;
  color: #f2f2f2;
  font-size: 14px;
  outline: none;
  border: none;
  width: 20px;
  position: relative;
}
.ps-tray-top-menu-select:after {
  content: '...';
  font: 10px "Consolas", monospace;
  background-color: #4b4942;
  color: #f2f2f2;
  position: absolute;
  pointer-events: none;
  cursor: pointer;
  transform: rotate(90deg);
}

.ps-tray-nav {
  overflow: hidden;
}
.ps-nav {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.nav-item {
  justify-content: flex-start;
  flex-shrink: 0;
  line-height: 1.5;
  padding: .5rem .75rem;
  flex-grow: 0;
  display: flex;
  align-items: center;
}
.nav-item a {
  flex-grow: 1;
  flex-shrink: 0;
}
.button {
  align-items: center;
  box-shadow: none;
  display: inline-flex;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  cursor: pointer;
  justify-content: center;
}
.button.is-loading {
  color: transparent !important;
  pointer-events: none;
}
.button.is-loading:after {
  -webkit-animation: spinAround 500ms infinite linear;
  animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 0.8em;
  position: relative;
  width: 0.8em;
  position: absolute;
  /*left: calc(50% - (0.8em / 2));*/
  /*top: calc(50% - (0.8em / 2));*/
  position: absolute !important;
}
.ps-nav .ps-nav-level0, .ps-nav .ps-nav-level1, .ps-nav .ps-nav-level2  {
  color: #46476f;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: stretch;
}

.ps-nav .ps-nav-level0 .ps-nav-select-container {
  background-color: #f2f8f8;
  color: #46476f;
  height: 40px;
  width: auto;
  font-weight: 500;
  font-size: 24px;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.ps-nav .ps-nav-level0 .ps-nav-select-container .ps-toolbar-select {
  width: 200px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  outline: none;
}

.ps-nav .ps-nav-level1 .nav-item {
  width: 100%;
  position: relative;
}
.ps-nav .ps-nav-level1 .nav-item .ps-nav-input {
  vertical-align: top;
  background-color: #fff;
  font-family: Roboto;
  outline: none;
  justify-content: flex-start;
  display: inline-flex;
  align-items: center;
  margin: 0;
  width: 100%;
  max-width: 100%;
  height: 2.5em;
  position: relative;
  z-index: 1;
  border: none !important;
  box-shadow: none;
  text-align: center;
  color: #46476f;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  padding: 4px;
  line-height: 2rem;
  transition: all ease-in-out 200ms;
}
.ps-nav .ps-nav-level1 .nav-item .ps-nav-input:not(:focus) + label {
  background-color: #ffffff;
  padding: 4px;
  z-index: 2;
  color: #46476f;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 2.5rem;
  text-align: center;
}
.ps-nav .ps-nav-level1 .nav-item .ps-nav-input:not(:focus) + label:hover {
  background-color: #f2f8f8;
}
.ps-nav .ps-nav-level1 .nav-item .ps-nav-input:focus {
  background-color: #f2f8f8;
}
.ps-nav .ps-nav-level1 .nav-item .ps-nav-label {
  height: 2.5em;
  position: absolute;
  left: 15px;
  right: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}
.ps-nav .ps-nav-level1 .nav-item:after, .ps-nav .ps-nav-level1 .nav-item:before {
  content: "";
  min-width: 3px;
  height: 35px;
  background-color: #46476f;
  margin: auto;
}

.ps-nav .ps-nav-level2 .ps-nav-time-span {
  color: #46476f;
  height: 40px;
  width: 0;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  align-content: center;
  align-items: center;
  transition: width 500ms;
}
.ps-show-time {
  width: 100% !important;
}
.ps-nav .ps-nav-level2 .ps-nav-time-span .ps-display-span-time {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100px;
  font-size: 16px;
  padding-left: 10px;
}
.ps-nav .ps-nav-level2 .ps-nav-time-span .ps-time-indicator {
  border-radius: 100%;
  width: 12px;
  height: 12px;
  background-color: #95000e;
  animation: blink 1s linear infinite;
}

.ps-nav .ps-nav-level2 .ps-toolbar-play {
  z-index: 2;
  position: relative;
}
.ps-nav .ps-nav-level2 .ps-toolbar-play .ps-toolbar-button {
  padding: 0;
  background-color: #46476f;
  color: #f2f2f2;
  border-radius: 100%;
  border: none;
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
  max-height: 40px;
  max-width: 40px;
  font-size: 24px;
  text-align: center;
}
.ps-nav .ps-nav-level2 .ps-toolbar-play .ps-toolbar-button .icon .icon-play {
  margin-left: 2px;
}

.ps-hide-item {
  display: none !important;
}

@keyframes slide-down {
  0% { opacity: 0; -moz-transform: translateX(-100%); }
  100% { opacity: 1; -moz-transform: translateX(0); }
}
@keyframes blink {
  0%   {opacity: 0;}
  50%  {opacity: .5;}
  100% {opacity: 1 ;}
}
@keyframes spinAround {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

