<div class="box">
  <article class="media">
    <div class="media-left">
      <span>
        <img *ngIf="userEdit.profileImage" class="ps-user-image" (click)="openImageModal()"
               src="{{userEdit.profileImage? config.imagesEndpoint + '/profile/' + userEdit.profileImage :
                      'http://bulma.io/images/placeholders/640x480.png'}}">
        <svg *ngIf="!userEdit.profileImage" class="ps-user-image" width="36" height="36" [identiconHash]="emailHash">
          Fallback text for browsers not supporting inline svg
        </svg>
      </span>
    </div>
    <div class="media-content">
      <div class="content has-text-centered">
        <div *ngIf="!userNameEdited">
          {{userEdit.name? userEdit.name : "Untiled name"}}
          <span class="ps-edit-profile-button" (click)="toggleTimer()">✎</span>
        </div>
        <div *ngIf="userNameEdited">
          <input [(ngModel)]="userEdit.name" class="input ps-user-name"
                 placeholder="Untitled name" type="text">
          <span class="ps-edit-profile-button" (click)="saveProfile()">✓</span>
          <span class="ps-edit-profile-button" (click)="toggleTimer()">X</span>
        </div>
        <div>{{userEdit.email}}</div>
      </div>
    </div>
  </article>
</div>
