@import "../../../../../../sass/variables"

.ps-chart-total-hour-wrapper
  margin-bottom: 0.5rem !important
  display: flex
  flex-wrap: wrap

.ps-chart-total-hour-item-container
  flex-wrap: wrap
  margin-left: 10px
  margin-top: 5px

.ps-chart-total-hour-member-image
  width: 25px
  height: 25px
  border: 1px solid $ink
  border-radius: 100%
  margin-bottom: -8px

.ps-chart-total-hour-item-text
  display: inline-block
  font-size: 0.7rem
  color:  gray
  @media (max-width: $ps-mobile)
    font-size: 0.65rem

.ps-chart-total-hour
  padding-left: 0.5rem
  padding-right: 0.5rem
  color: $primary
