<div class="container ps-project-dashboard-padding">
  <div class="columns is-multiline">
    <div class="column is-6-widescreen is-6-desktop is-6-tablet">
      <project-item *ngIf="project && project.id"
        [project]="project"
        [user]="(user$ | async)"
        [status]="(status$ | async)"
        [currentActivities]="currentActivities"
        isEditable="true"
      ></project-item>
    </div>

    <div class="column is-6-widescreen is-6-desktop is-6-tablet">
      <stat-chart
        [selectItems]="statChartSelectedItems"
        [chartType]="isOwnerOrAdmin ? 'bar' : 'area'"
        [barChartData]="barChartData"
        [areaChartData]="areaChartData"
        [yAxisTickFormatting]="trimYAxis"
        (onSelectItemChanged)="chartSelectItemChanged($event)"
        (onRefreshClicked)="chartSelectItemChanged()"
      ></stat-chart>
    </div>

    <div class="column is-6-widescreen is-6-desktop is-6-tablet">
      <recent-notes
        [notes]="recentNotes"
        [netConnected]="(status$ | async).netStatus"
        [projectsId]="projectsId"
      ></recent-notes>
    </div>
  </div>
</div>
