<top-bar [title]="project ? project.name : ''" [showDonationButton]="true"></top-bar>

<div class="container ps-project-dashboard-padding">
  <div class="columns is-multiline">
    <div class="column is-6-widescreen is-6-desktop is-6-tablet">
      <project-item *ngIf="project && project.id"
        [project]="project"
        [user]="(user$ | async)"
        [status]="(status$ | async)"
        [currentActivities]="currentActivities"
        isEditable="true"
      ></project-item>
    </div>
  </div>
</div>
