<div class="columns is-mobile">
  <div class="column is-4 is-offset-4">
    <div *ngFor='let group of projectActivities; trackBy: let j = index'>
      <div class="ps-time-line-header">
        {{group.date}}
      </div>
      <div class="ps-card-container">
        <div *ngFor='let activity of group.activities; trackBy: let i = index'>
          <activity-item [activity]="activity" (onDeleteClicked)="deleteActivity(activity, j, i)"></activity-item>
        </div>
      </div>
    </div>
  </div>
</div>



