<div class="is-centered">
  <div>
    <div class="ps-header-vertical-align has-text-centered">
      <img src="./assets/images/logo-blue.png" class="ps-image-resize has-text-centered">
      <h2><b>Version:</b> {{ appVersion }}</h2>
    </div>
  </div>
  <div class="columns is-gapless is-mobile">
      <div class="column ps-header-vertical-align">
        <div class="ps-header-margin">
          <h2><b>What's new</b></h2>
          <div class="ps-header-vertical-align ps-padding-left">
            <ul>
              <li>
                ✓ Released Android app | you can download it from <a href="https://pendulums.io" target="_blank">https://pendulums.io</a>
              </li>
              <li>
                ✓ Added realtime sync for some core functionalities and a resync button in side menu
              </li>
              <li>
                ✓ Added donation for Iranian people 💕
              </li>
              <li>
                ✓ Removed annoying recaptcha
              </li>
              <li>
                ✓ Fixed a lot of issues with offline usage and sync and applied some performance improvements
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</div>
