<div class="is-centered">
  <div>
    <div class="ps-header-vertical-align has-text-centered">
      <img src="./assets/images/logo-blue.png" class="ps-image-resize has-text-centered">
      <h2><b>Version:</b> {{ appVersion }}</h2>
    </div>
  </div>
  <div class="columns is-gapless is-mobile">
      <div class="column ps-header-vertical-align">
        <div class="ps-header-margin">
          <h2><b>What's new</b></h2>
          <div class="ps-header-vertical-align ps-padding-left">
            <ul>
              <li>
                ✓ Now you can take notes and assign them to your projects
              </li>
              <li>
                ✓ We heard a lot of users forget to stop their activities when they left the app, so we added a reminder. You can turn it off in settings
              </li>
              <li>
                ✓ It's important to us that our users work healthy, so we added a rest time reminder which could be enabled in settings
              </li>
              <li>
                ✓ You asked that you want to export/import your activities, it's now feasible in activities page
              </li>
              <li>
                ✓ We've made a lot of UI improvements
              </li>
              <li>
                ✓ We've made a lot of performance improvements
              </li>
              <li>
                ✓ Fixed a lot of issues
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</div>
