<div class="columns">
  <div class="column has-text-centered">
    <!-- TODO: need to change password below -->
    <b class="ps-text-red">CAUTION!</b>
    <p class="ps-text-red">You are going to delete your account! All of your data including your owned projects and their activities, notes, etc. would be removed and we cannot restore your data.</p>
    <input [(ngModel)]="userPassword" name="password" class="input ps-confirm-input" placeholder="Confirm password" type="password" autocomplete="off" value="">
    <button class="button is-danger"  (click)="delete()" [disabled]="disableButtons" [ngClass]="{'is-loading': disableButtons}">Confirm</button>
    <button class="button is-success" (click)="cancel()" [disabled]="disableButtons">Cancel</button>
  </div>
</div>
