<div [ngClass]="{'ps-back-white1': !project.colorPalette  || project.colorPalette == 0,
                  'ps-back-salmon': project.colorPalette == 1,
                  'ps-back-blue': project.colorPalette == 2,
                  'ps-back-black': project.colorPalette == 3,
                  'ps-back-yellow': project.colorPalette == 4,
                  'ps-back-pink': project.colorPalette == 5,
                  'ps-back-red': project.colorPalette == 6,
                  'ps-back-green': project.colorPalette == 7}" class="ps-project-item-container" (click)="goToProjectDashboard()">
  <div class="card ps-project-item-card" [class.ps-has-border-radius]="hasBorderRadius">
    <div class="card-content ps-project-item-card-content">
      <div class="media ps-project-details-container">
        <div class="media-left">
          <figure [ngStyle]="{'background-image': project.image ? 'url(' + environment.imagesEndpoint + '/projects/' + project.image + ')' :
                              'url(assets/images/placeholder.png)'}" class="image ps-project-image-container">
          </figure>
        </div>
        <div class="ps-media-content">
          <div class="ps-media-header">
            <span class="ps-project-item-card-title" *ngIf="!activityStarted" title="{{project.name}}">{{project.name}}</span>
            <span *ngIf="activityStarted" class="ps-activity-name-input-container">
              <input #activityNameElm name="projectItemActivityNameInput" [(ngModel)]="taskName" class="input ps-task-input" (change)="nameActivity($event)"
                     (click)="$event.stopPropagation()" placeholder="Activity Name" type="text">
            </span>
            <span>
              <div *ngIf="!isEditable" (click)="toggleStopStart(); $event.stopPropagation()">
                <a  class="button ps-item-card-button" [ngClass]="{'is-loading': activityButtonDisabled}">
                  <span class="icon">
                    <i *ngIf="activityStarted" class="icon-stop" title="Stop activity"></i>
                    <i *ngIf="!activityStarted" class="icon-play" title="Start activity"></i>
                  </span>
                </a>
              </div>
              <div *ngIf="isEditable" (click)="showSettings()">
                <a  class="button ps-item-card-button">
                  <span class="icon">
                    <i class="icon-pencil" title="Project setting"></i>
                  </span>
                </a>
              </div>
            </span>
          </div>
          <p class="ps-owner-container" title="{{project.owner.name ? project.owner.name : project.owner.email}}">
            <span>Owned by |&nbsp;</span>
            <span class="ps-owner-name">
              <b> {{project.owner.name ? project.owner.name : project.owner.email}}</b>
            </span>
          </p>
          <div class="ps-project-team-members-count">
            <span class="icon-teammember"></span>
            {{project.teamMembers.length}}
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isEditable">
      <hr class="ps-divider-line">
      <div class="card-content ps-project-item-card-content">
        <div class="ps-project-detail-container">
          <div class="ps-project-detail">
            <div class="ps-project-detail-circle">
              <!-- TODO: the time should be come from an API call -->
              <span class="ps-total-hours-text">2:43</span>
            </div>
            <span class="ps-project-detail-subtitle">Total Hours</span>
          </div>
          <div class="ps-project-detail">
            <div class="ps-project-detail-circle">
              <span class="ps-total-hours-text">{{currentActivities.length}}</span>
            </div>
            <span class="ps-project-detail-subtitle">Current Activities</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
