<div class="ps-recent-notes-container">
  <ng-container *ngIf="!notes || notes.length == 0">
    <p class="ps-no-recent-notes">There are no recent notes</p>
  </ng-container>
  <ng-container *ngIf="notes && notes.length > 0">
    <div class="ps-notes-container columns is-multiline is-mobile">
      <span class="column is-6" *ngFor="let note of notes | slice:0:4;" style="padding: 8px">
        <note-item *ngIf="note && note.id"
                   class="ps-note-item"
                   [note]="note"
                   [setFullHeight]="true"
                   [netConnected]="true"
                   [projectsId]="projectsId">
        </note-item>
      </span>
    </div>
  </ng-container>
  <div class="ps-recent-notes-footer">
    <a class="ps-new-note" (click)="showCreateEditNoteModal()"><i class="bx bx-sm bx-plus"></i>New Note</a>
    <a class="ps-more-notes" [routerLink]="['/notes']" >More Notes</a>
  </div>
</div>
