@import "../../../../../sass/variables"

.ps-header-delete-button
  position: absolute
  top: 0
  right: 0
  border-radius: 0 0 0 10px
  z-index: 5

.ps-none-background
  background-color: unset

.ps-modal-card
  @media (max-width: 480px)
    margin: unset
    max-height: unset
    height: 100%

.ps-modal-body
  padding-bottom: 50px
  @media (max-width: 480px)
    padding: 10px
    font-size: 0.87rem

.dangerousAction
  color: $secondary
