@import "../../../../sass/variables"

.ps-project-create
  background: $yellow
  border: unset
  color: $ps-primary
  cursor: pointer
  height: $item-size
  font-size: 1.8rem
  font-weight: 500
  line-height: $item-size
  border-radius:  $radius

.ps-list-project-no-padding
  @media (max-width: $ps-mobile)
    padding-top: unset

.ps-add-project-disabled
  cursor: not-allowed !important

.ps-project-name-container
  display: flex
  align-items: center
  margin-top: 20px
  margin-bottom: 37px
  padding-left: 8px
  padding-right: 8px
  justify-content: flex-start
  flex-flow: row nowrap
  align-items: center
  margin-left: 50px
  margin-right: 50px
  @media (max-width: 700px)
    margin-left: 25px
    margin-right: 25px
  @media (max-width: 500px)
    margin-left: 4px
    margin-right: 4px
  .ps-project-header-title
    display: flex
    flex: 1 1 auto
    justify-content: center
    align-items: center
  .ps-project-header-button
    display: flex
    justify-content: center
    align-items: center
    flex: 0 0 auto
    z-index: 9
  .ps-project-name
    margin-left: 10px
    margin-right: 10px
    min-width: 180px !important
    width: auto
    border-radius: $radius
    color: $paper
    background: $cornflowerBlue
    padding: 8px 10px
    font-size: 1rem
    justify-content: center
  .ps-activity-top-button
    cursor: pointer
    font-size: 1.5rem
    line-height: 3rem
    color: $ps-primary
    background-color: $paper
    border-radius: 100%
    border: none
    height: 50px
    width: 50px
    min-height: 50px
    min-width: 50px
    z-index: 5
    transition: all ease-in-out $ps-transitions
    &:hover
      background-color: darken($paper, 10)
    @media (max-width: 700px)
      height: 40px
      width: 40px
      min-height: 40px
      min-width: 40px
      font-size: 1.2rem
      line-height: 2.5rem
  .ps-donation-top-button
    cursor: pointer
    font-size: 1.5rem
    line-height: 3rem
    color: $ps-primary
    background-color: $yellow
    border-radius: 100%
    border: none
    height: 50px
    width: 50px
    min-height: 50px
    min-width: 50px
    z-index: 5
    transition: all ease-in-out $ps-transitions
    &:hover
      background-color: darken($yellow, 20)
    @media (max-width: 700px)
      height: 40px
      width: 40px
      min-height: 40px
      min-width: 40px
      font-size: 1.2rem
      line-height: 2.5rem

.ps-donation
  border: 1px solid $black
  background-color: $white
  margin: 3px auto 0 auto
  border-radius: 6px
  text-align: left
  -webkit-box-shadow: 0 2px 3px rgba(51, 51, 51, 0.1), 0 0 0 1px rgba(51, 51, 51, 0.1)
  box-shadow: 0 2px 3px rgba(51, 51, 51, 0.1), 0 0 0 1px rgba(51, 51, 51, 0.1)
  margin-bottom: 19px
.ps-donation-dismiss
  float: right
  cursor: pointer
  color: $red
.ps-icon-cancel
  font-size: 1.3rem
.ps-no-background
  background-color: unset

.ps-header-delete-button
  border-radius: 100%
  background-color: transparent
  color: #999
  &:hover
    background: $white !important
    border-color: transparent !important
    color: #999
  @media (max-width: 480px)
    margin-top: -10px
    margin-right: -10px
.donation-box
  display: inline-block
  width: 100%
  text-align: right
.ps-z-index
  z-index: 5

.ps-sort
  background: #fafafa
  display: inline-block
  height: 36px
  padding-left: 4px
  padding-right: 4px
  border-radius: 4px
  font-weight: 800
  margin-left: -6px

.ps-sort-icon
  margin-left: -32px
  vertical-align: top
  line-height: 36px
  display: inline-block
