@import "../../../../sass/variables"

.ps-project-create
  background: $yellow
  border: unset
  color: $ps-primary
  cursor: pointer
  height: $item-size
  font-size: 1.8rem
  font-weight: 500
  line-height: $item-size
  border-radius:  $radius

.ps-list-project-no-padding
  @media (max-width: $ps-mobile)
    padding-top: unset

.ps-add-project-disabled
  cursor: not-allowed !important
