@import "../../../../sass/variables"

.ps-project-create
  background: darken($paper,5)
  border: 1px solid darken($paper,30)
  color: darken($paper,30)
  cursor: pointer
  height: 180px
  font-size: 2rem
  line-height: 10rem

.is-disabled
  cursor: not-allowed
