<div class="columns">
  <div class="column is-three-quarters">
    <img-cropper #cropper [image]="profileData" [settings]="cropperSettings"></img-cropper>
  </div>
</div>
<div class="columns">
  <div class="column">
    <input id="custom-input" type="file" style="display:none" [disabled]="disableButtons" (change)="fileChangeListener($event)">
    <label class="button is-info" for="custom-input" [ngClass]="{'ps-is-disabled': disableButtons}">choose a file...</label>
    <button class="button is-success"  (click)="save()" [disabled]="disableButtons" [ngClass]="{'is-loading': disableButtons}">save</button>
    <button class="button is-danger" (click)="cancel()" [disabled]="disableButtons">cancel</button>
  </div>
</div>


