@import '../../../../../sass/variables'

.ps-border-red
  border: 1px solid red

.ps-border-blue
  border: 1px solid blue

.ps-container
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.ps-section-you-container
  display: flex
  width: 100%
  height: 56px
  justify-content: flex-start
  align-items: center
  padding: 10px 5px

.ps-section-members-container
  display: flex
  width: 100%
  height: 56px
  justify-content: flex-start
  align-items: center
  padding: 10px 5px
  border-bottom: 1px solid #dedfcb

.ps-profile-image-container
  flex-basis: 10px
  display: flex
  justify-content: center
  align-items: center

.ps-user-email
  flex-basis: 45%
  text-align: left
  padding-left: 10px

.ps-user-role
  flex-basis: 45%
  text-align: right
  padding-right: 10px

.ps-body-button
  flex-basis: 10%
  font-size: 25px
  transition: background-color 200ms ease-in
  border-radius: 100%
  &:hover
    background-color: #dddddd
    cursor: pointer
