<div dir="auto" class="ps-container">
  <div class="box ps-section-you-container">
    <div class="ps-profile-image-container">
      <svg width="36" height="36" [identiconHash]="userEmailHash('armingh.ghoreishi@gmail.com')">
      </svg>
    </div>
    <i class="ps-user-email">
      {{user.email}}
    </i>
    <span class="ps-section-you-role">
      {{getUserRole()}}
    </span>
  </div>
  <ng-container *ngIf="!readOnly">
    <div *ngFor='let member of members;trackBy:let i = index' class="ps-team-members-item-container">
      <div class="ps-profile-image-container">
        <svg width="36" height="36" [identiconHash]="userEmailHash(member.email)">
        </svg>
      </div>
      <i class="ps-user-email">
        {{member.email}}
      </i>
      <span class="ps-user-role">
      <swing-select
        [items]="['team member','admin']"
        [label]="member.role"
        (onItemClicked)="changeTeamMemberRole(member.id, $event)"
      ></swing-select>
    </span>
      <span class="icon-trash has-text-danger ps-body-button" (click)="removeMemberConfirmationViewIndex = i"></span>
      <span class="ps-remove-member-confirmation" [class.ps-remove-member-confirmation-shown]="removeMemberConfirmationViewIndex === i">
        <span class="icon-cancel" (click)="removeMemberConfirmationViewIndex = -1 "></span>
        <span class="icon-check" (click)="removeMember(member.id)"></span>
      </span>
    </div>
  </ng-container>

  <ng-container *ngIf="readOnly">
    <div *ngFor='let member of members;trackBy:let i = index' class="ps-team-members-item-container">
      <div class="ps-profile-image-container">
        <svg width="36" height="36" [identiconHash]="userEmailHash(member.email)">
        </svg>
      </div>
      <i class="ps-user-email">
        {{member.email}}
      </i>
      <span class="ps-user-role">
      {{member.role}}
    </span>
    </div>
  </ng-container>
</div>
