<div dir="auto" class="ps-container">
  <div class="box ps-section-you-container">
    <div class="ps-profile-image-container">
      <svg width="36" height="36" [identiconHash]="invited.hash">
      </svg>
    </div>
    <i class="ps-user-email">
      armin.ghoreishi@gmail.com
    </i>
    <span class="ps-user-role">
      Team member
    </span>
  </div>
  <div class="ps-section-members-container">
    <div class="ps-profile-image-container">
      <svg width="36" height="36" [identiconHash]="invited.hash">
      </svg>
    </div>
    <i class="ps-user-email">
      armin.ghoreishi@gmail.com
    </i>
    <span class="ps-user-role">
      Team member
    </span>
    <i class="icon-trash has-text-danger ps-body-button"></i>
  </div>
</div>
