@import "../../sass/variables.sass"

.gc-toolbar-input
  padding: 0.5rem 0.75rem

.nav.is-dark
  background-color: green
  color: $paper

.nav-item
  color: $paper
  transition: background-color 200ms ease-out
  &:hover
    background-color: lighten(green, 18)
    color: $paper

.gc-toolbar-profile-image
  border-radius: 100%
  max-height: 2.2em
  margin-left: 0.75rem
