<nav class="nav">
  <div class="nav-left">
    <div class="nav-item">
      <img class="ps-toolbar-profile-image" (click)="signOut()"
           src="{{(user.profileImage ? config.imagesEndpoint + '/profile/' + user.profileImage : '../../assets/images/images.png')}}" >
      <div class="ps-nav-left-item is-hidden-mobile">{{user.name}}</div>
    </div>

  </div>

  <div class="nav-center">
    <div class="ps-title-bar-button ps-title-bar-button-left is-hidden-mobile">
      ⏬
    </div>
    <div class="ps-title-bar">

    </div>
    <div class="ps-title-bar-button ps-title-bar-button-right is-hidden-mobile">
      <i class="icon-settings"></i>
    </div>
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right">
    <div class="nav-item">
      <div class="ps-nav-right-item is-hidden-mobile">{{user.name}}</div>
      <div class="ps-toolbar-play">
        ▶️
      </div>
    </div>
  </div>
</nav>
