<div class="ps-chart-wrapper" *ngIf="selectedUsers.length > 0 && parentHasActivity">
  <div class="ps-chart-calendar-wrapper">
    <input id="ps-calendar-input" [(ngModel)]="dateString" type="text" (focus)="showCalender()" >
    <div class="ps-calendar-range-wrapper" *ngIf="calenderShow">
      <button class="button is-pulled-right is-small ps-close-calender-button"
              (click)="closeCalender()">
        <span class="icon is-small">X</span>
      </button>
      <swing-calendar id="ps-calendar" (rangeSelected)="updateDates($event)" calendarType="range"
                      [startRangeInput]="fromDate" [endRangeInput]="toDate - 86400000"></swing-calendar>
    </div>
  </div>
  <div *ngIf="multiLevelData.length > 0">
    <nvd3 [options]="options" [data]="multiLevelData"></nvd3>
  </div>
  <ng-container *ngIf="usersWithTotal">
    <div *ngIf="usersWithTotal.length > 0">
      <chart-total-hour [inputArray]="usersWithTotal"></chart-total-hour>
    </div>
  </ng-container>
</div>

<div class="ps-chart-placeholder" *ngIf="selectedUsers.length === 0 || !parentHasActivity">
  <figure class="image">
    <img src="../../../../assets/images/placeholder.jpg">
  </figure>
  <p *ngIf="selectedUsers.length > 0 && !parentHasActivity">There is no activity yet!</p>
  <p *ngIf="selectedUsers.length === 0 ">Please select a member to show statistics</p>
</div>
