<div class="ps-chart-wrapper">
  <div class="ps-chart-calendar-wrapper">
    <input [(ngModel)]="dateString" type="text" (focus)="showCalender()" >
    <div class="ps-calendar-range-wrapper" *ngIf="calenderShow">
      <button class="button is-pulled-right is-small ps-close-calender-button"
              (click)="closeCalender()">
        <span class="icon is-small">X</span>
      </button>
      <swing-calendar (rangeSelected)="updateDates($event)" calendarType="range"
                      [startRangeInput]="fromDate" [endRangeInput]="toDate - 86400000"></swing-calendar>
    </div>
  </div>
  <div *ngIf="multiLevelData.length > 0">
    <nvd3 [options]="options" [data]="multiLevelData"></nvd3>
  </div>
  <ng-container *ngIf="usersWithTotal">
    <div *ngIf="usersWithTotal.length > 0">
      <chart-total-hour [inputArray]="usersWithTotal"></chart-total-hour>
    </div>
  </ng-container>
</div>
