<div style="display: inline-block;width: 100%;">
  <div style="position: relative;">
    <input [(ngModel)]="fromDate" type="text" (focus)="showCalender()" >
    <div class="ps-calendar-range-wrapper" *ngIf="calenderShow">
      <button class="button is-pulled-right is-small ps-close-calender-button"
              (click)="closeCalender()">
        <span class="icon is-small">X</span>
      </button>
      <swing-calendar (rangeSelected)="updateDates($event)" calendarType="range"></swing-calendar>
    </div>
  </div>
  <div style="height: 500px;">
    <ngx-charts-bar-vertical-stacked
      [scheme]="colorScheme"
      [results]="multi"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel">
    </ngx-charts-bar-vertical-stacked>
  </div>
</div>



