@import "../../../sass/variables"
@import "../../../../node_modules/bulma/sass/utilities/variables"

.ps-nav
  height: $toolbar-size
  background-color: $white
  .nav-left
    max-width: 170px
  .ps-nav-left
    color: $primary
    cursor: pointer
    padding: 2px
    max-width: $side-menu-size
    width: $side-menu-size
    &:hover
      background-color: $primary
      color: $paper
  .ps-nav-item-menu
    padding: 0
    margin: auto
    .ps-nav-menu-icon
      font-size: 2rem
  .ps-nav-logo-container
    padding-left: 0
    @media (min-width: 1024px)
      padding-left: 0.75rem
    .ps-nav-item-logo
      width: 48px !important
      height: 48px !important
      min-height: 48px !important
    .ps-nav-app-name
      color: $primary
      font-weight: 500
      margin-left: 5px
  .ps-nav-center
    flex-grow: 1
    flex-shrink: 1
    max-width: 500px
    .nav-item
      width: 100%
      position: relative
      .ps-nav-input
        width: 100%
        height: 2.5em
        position: relative
        z-index: 1
        border: none
        box-shadow: none
        text-align: center
        color: $primary
        text-transform: uppercase
        font-weight: 500
        font-size: 1rem
        padding: 4px
        line-height: 2rem
        &:not(:focus) + label
          background-color: $white
          padding: 4px
          z-index: 2
          color: $primary
          text-transform: uppercase
          font-weight: 500
          line-height: 2rem
      .ps-nav-label
        height: 2.5em
        position: absolute
        left: 15px
        right: 15px
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
      &:after, &:before
        content: ""
        min-width: 3px
        height: 24px
        background-color: $primary
        margin: auto
  .nav-right
    overflow: inherit
    max-width: 205px
    @media (max-width: 330px)
      padding-right: 0
    .ps-nav-right-item
      background-color: $powderBlue
      color: $primary
      height: 40px
      min-width: 160px
      width: auto
      font-weight: 500
      font-size: 24px
      border-top-left-radius: 20px
      border-bottom-left-radius: 20px
      margin: 0 -20px 0 0
      padding-left: 20px
      padding-right: 20px
      display: flex
      align-content: center
      align-items: center
      .ps-toolbar-select
        display: inline-flex
      .ps-display-span-time
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        width: 70px
        font-size: 16px
      .ps-time-indicator
        border-radius: 100%
        width: 12px
        height: 12px
        background-color: $red
    // This class used to hide time duration in mobile size
    .ps-nav-right-time
      @media (max-width: $ps-mobile + 1px)
        display: none
    .ps-toolbar-play
      z-index: 2
      position: relative
      .ps-toolbar-button
        padding: 0
        background-color: $primary
        color: $paper
        border-radius: 100%
        border: none
        height: 40px
        width: 40px
        font-size: 24px
        text-align: center


.ps-toolbar-time-tooltip
  background-color: $pink
  color: $white
  position: absolute
  font-size: 0.75rem
  bottom: -32px
  left: -32px
  border-radius: $radius
  line-height: 1.5rem
  padding-left: 5px
  padding-right: 5px
  min-width: 60px
  @media (min-width: $ps-mobile)
    display: none
  &:before
    content: ' '
    position: absolute
    bottom: 100%
    left: 50%
    margin-left: -5px
    border-width: 5px
    border-style: solid
    border-color: transparent transparent $pink transparent

.ps-toolbar-time-icon
  background-color: $pink
  color: $white
  position: absolute
  font-size: 0.8rem
  padding: 2px
  bottom: -5px
  left: -10px
  border-radius: 100%
  animation: rotation 2s infinite linear
  @media (min-width: $ps-mobile + 1px)
    display: none


@keyframes rotation
  0%, 25%
    transform: rotate(0deg)
  50%, 75%
    transform: rotate(180deg)
  100%
    transform: rotate(360deg)








