<nav class="nav">
  <div class="nav-left ps-is-hidden-mobile">
    <div class="nav-item">
      <img class="ps-nav-logo" src="assets/images/logo-small.png" >
      <div class="ps-nav-app-name is-hidden-mobile">Pendulum</div>
    </div>
  </div>

  <div class="nav-item">
    <div *ngIf="!currentActivityCopy.startedAt" class="ps-nav-right-item columns is-mobile">
      <input class="input is-small" placeholder="Task name" type="text">
      <span>/</span>
      <swing-select [items]="projects.entities | objectKeys"
                    [itemTextAttribute]="'name'"
                    (onItemClicked)="projectSelected($event)"
                    [label]="'Select Project'"
                    class="ps-toolbar-select"></swing-select>
    </div>
    <div *ngIf="currentActivityCopy.startedAt" class="ps-nav-right-item columns is-mobile">
      <span>{{currentActivityCopy.name}}</span>
      <span>/</span>
      <span>{{selectedProject.name ? selectedProject.name : ''}}</span>
      <span>{{timeDuration}}</span>
    </div>
    <div class="ps-toolbar-play">
      <span *ngIf="!currentActivityCopy.startedAt" class="icon-play"></span>
      <span *ngIf="currentActivityCopy.startedAt" class="icon-stop"></span>
    </div>
  </div>
</nav>
