<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="4" id="team.swing.pendulums" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pendulums</name>
    <description>
        Optimize your life with an easy to use time tracking.
    </description>
    <author email="app@pendulums.io" href="https://pendulums.io">
        Swing Team
    </author>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreenDelay" value="4000" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="loadUrlTimeoutValue" value="60000" />
    <preference name="android-minSdkVersion" value="20" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <preference name="SplashMaintainAspectRatio" value="true" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" />
            <application android:allowBackup="false"/>
        </edit-config>
        <splash density="land-hdpi" src="res/screen/android/screen-hdpi-landscape.png" />
        <splash density="land-xhdpi" src="res/screen/android/screen-xhdpi-landscape.png" />
        <splash density="land-xxhdpi" src="res/screen/android/screen-xxhdpi-landscape.png" />
        <splash density="port-hdpi" src="res/screen/android/screen-hdpi-portrait.png" />
        <splash density="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />
        <splash density="port-xxhdpi" src="res/screen/android/screen-xxhdpi-portrait.png" />
        <icon background="res/icon/android/mipmap-mdpi/ic_launcher_background.png" density="mdpi" foreground="res/icon/android/mipmap-mdpi/ic_launcher_foreground.png" />
        <icon background="res/icon/android/mipmap-hdpi/ic_launcher_background.png" density="hdpi" foreground="res/icon/android/mipmap-hdpi/ic_launcher_foreground.png" />
        <icon background="res/icon/android/mipmap-xhdpi/ic_launcher_background.png" density="xhdpi" foreground="res/icon/android/mipmap-xhdpi/ic_launcher_foreground.png" />
        <icon background="res/icon/android/mipmap-xxhdpi/ic_launcher_background.png" density="xxhdpi" foreground="res/icon/android/mipmap-xxhdpi/ic_launcher_foreground.png" />
        <icon background="res/icon/android/mipmap-xxxhdpi/ic_launcher_background.png" density="xxxhdpi" foreground="res/icon/android/mipmap-xxxhdpi/ic_launcher_foreground.png" />
        <icon src="res/icon/android/mipmap-mdpi/ic_launcher_round.png" density="mdpi" />
        <icon src="res/icon/android/mipmap-hdpi/ic_launcher_round.png" density="hdpi" />
        <icon src="res/icon/android/mipmap-xhdpi/ic_launcher_round.png" density="xhdpi" />
        <icon src="res/icon/android/mipmap-xxhdpi/ic_launcher_round.png" density="xxhdpi" />
        <icon src="res/icon/android/mipmap-xxxhdpi/ic_launcher_round.png" density="xxxhdpi" />
        <resource-file src="res/icon/android/mipmap-xxhdpi/ic_launcher_round.png" target="app/src/main/res/drawable-xxhdpi/app_icon_round.png" />
        <resource-file src="res/icon/android/mipmap-xhdpi/app_small_icon.png" target="app/src/main/res/mipmap-xhdpi/app_small_icon.png" />
        <resource-file src="res/icon/android/drawable-xhdpi-v11/app_small_icon.png" target="app/src/main/res/drawable-xhdpi-v11/app_small_icon.png" />
    </platform>
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-local-notification" spec="https://github.com/Steffaan/cordova-plugin-local-notifications.git">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="26.+" />
    </plugin>
    <plugin name="cordova-plugin-background-mode" spec="^0.7.3" />
</widget>
