<div class="columns is-mobile is-centered">
    <div class="column is-half-desktop ps-no-padding">
        <swing-select [width]="'240px'"
          [items]="sortOptions"
          [itemTextAttribute]="'name'"
          [selectedItemIndex]="[sortByItemIndex]"
          (onItemClicked)="sort($event)"
          [label]="'Sort by'"
          [hideArrow]="true"
          class="ps-sort"></swing-select>
        <span class="ps-sort-icon">
          <i class="icon-sort-alt-down"></i>
        </span>
    </div>
</div>
<div class="columns is-multiline">
  <div *ngIf="projects.length === 0" class="column is-4-widescreen is-6-desktop is-6-tablet" title="{{ status.netStatus ? '' : 'Offline mode!'}}">
    <div class="has-primary-text ps-project-create" [ngClass]="{'ps-add-project-disabled': !status.netStatus}" (click)="openCreateProjectModal()">+ Add project</div>
  </div>
  <div *ngFor='let project of projects; trackBy: projectsTrackBy' class="column is-4-widescreen is-6-desktop is-6-tablet ps-list-project-no-padding">
    <project-item [project]="project" [user]="user" [status]="status" [currentActivity]="currentActivity" class="ps-project-clickable"> </project-item>
  </div>
</div>
