<div class="columns ps-add-manually-row">
  <div class="column">
    <div>Activity title: </div>
    <input class="ps-add-manually-input" [(ngModel)]="activityName" placeholder="Activity Name" type="text">
  </div>
</div>

<div class="columns ps-add-manually-row">
  <div class="column is-4">
    <div>From:</div>
    <input class="ps-add-manually-time-input ps-add-manually-input" [(ngModel)]="fromTime" placeholder="00:00" type="text">
  </div>
  <div class="column">
    <div>Date</div>
    <input class="ps-add-manually-input is-fullwidth" [(ngModel)]="fromDate" type="text" (focus)="showFromCalender()" >
    <div class="ps-add-manually-calendar"  *ngIf="fromCalanderShow" >
      <button class="button is-pulled-right is-small ps-close-calender-button"
              (click)="closeFromCalender()">
        <span class="icon is-small">X</span>
      </button>
      <swing-calendar (dateSelected)="updateFrom($event)"></swing-calendar>
    </div>
  </div>
</div>

<div class="columns ps-add-manually-row">
  <div class="column is-4">
    <div>To:</div>
    <input class="ps-add-manually-time-input ps-add-manually-input" [(ngModel)]="toTime" placeholder="00:00" type="text">
  </div>
  <div class="column">
    <div>Date </div>
    <input class="ps-add-manually-input" [(ngModel)]="toDate" type="text" (focus)="showToCalender()">
    <swing-calendar class="ps-add-manually-calendar" *ngIf="toCalanderShow" (dateSelected)="updateTo($event)"></swing-calendar>
  </div>
</div>

<div class="ps-submit-button">
  <p class="control">
    <button class="button is-primary is-fullwidth"
            type="submit" [disabled]="formSubmitted">
      save
    </button>
  </p>
</div>
