<section class="hero ps-app-background is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-mobile is-centered">
        <div class="column is-one-third-desktop is-11-mobile is-half-tablet ps-auth-back">
          <form (ngSubmit)="resetPassword()" #signinForm="ngForm" novalidate>
            <div dir="auto">
              <div class="ps-auth-logo-container">
                <figure class="ps-auth-logo">
                  <img src="assets/images/logo-blue.png"/>
                </figure>
              </div>
              <div class="field">
                <h5 class="content is-bold ps-has-primary-color">
                  <b>Pendulums Time Tracking</b>
                </h5>
              </div>
              <div class="field">
                <p class="control">
                  <input [(ngModel)]="User.password" name="password" class="input ps-auth-input"
                         placeholder="New password" type="password">
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-right">
                  <input [(ngModel)]="rePassword" name="rePassword" class="input ps-auth-input"
                         placeholder="Re-type new password" type="password">
                </p>
              </div>
              <div class="field">
                <p [style.visibility]="errorMessage ? 'visible' : 'hidden'" class="control ps-login-error is-fullwidth">
                  {{errorMessage}}
                </p>
              </div>
              <br>
              <br>
              <div class="field">
                <p class="control">
                  <button class="button is-fullwidth is-primary ps-auth-buttons" type="submit" [disabled]="submitted"
                          [ngClass]="{'is-loading': submitted}">
                    Reset Password
                  </button>
                </p>
              </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>
