<section class="hero is-fullheight ps-app-background is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="ps-auth-back column is-4 is-offset-4">
        <form (ngSubmit)="resetPassword()" #signinForm="ngForm" novalidate>
          <div class="is-centered">
            <div dir="auto">
              <div class="field">
                <h3 class="title is-4 ps-has-primary-color ">
                  Pendulum Time Tracking
                </h3>
              </div>
              <div [style.visibility]="errorMessage ? 'unset' : 'hidden'" class="notification ps-login-error has-text-centered">
                <span class="icon">
                <i class="icon-error"></i>
                </span>
                <span class="is-info">{{errorMessage}}</span>
              </div>
              <div class="field">
                <p class="control">
                  <input [(ngModel)]="User.password" name="password" class="input"
                         placeholder="New password" type="password">
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-right">
                  <input [(ngModel)]="rePassword" name="rePassword" class="input"
                         placeholder="Re-type new password" type="password">
                </p>
              </div>
              <br>
              <div class="field">
                <p class="control">
                  <button class="button is-primary is-fullwidth" type="submit" [disabled]="submitted">Reset Password
                  </button>
                </p>
              </div>
              <div class="ps-reserve-big-space"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
