@import "../../../sass/variables"

.ps-error-component-container
  position: fixed
  left: 74px
  bottom: 10px
  z-index: 9
  font-size: 0.85rem
  line-height: 1.75rem

.ps-error-component
  color: $paper
  background-color: rgba(0, 0, 0, 0.68)
  min-height: 35px
  width: 280px
  padding-left: 10px
  border-color: $ink
  border-radius: 2px
  box-shadow: 2px 2px 2px #666666
  margin-top: 5px
