<div class="container ps-activities-container ps-ativities-padding">
  <div class="ps-project-name-container">
    <div class="ps-z-index"><div class="ps-activity-top-button ps-project-header-button icon-back" (click)="goBack()" title="Back"></div></div>
    <div class=" ps-project-header-title">
      <div class="ps-project-name" *ngIf="project">
        {{project.name}}
      </div>
    </div>
    <!-- <div class="ps-activity-top-button icon-export" (click)="exportActivities()" title="Export Activities"></div> -->
    <div class="ps-activity-top-button ps-project-header-button icon-plus" (click)="openAddManuallyModal()" title="Add new activity"></div>
  </div>
  <div class="pa-stuff-container" *ngIf="userAccess">
    <div *ngIf="project" class="ps-stat-user-filter-wrapper" title="Select users">
      <swing-select [type]="'multiSelect'"
                    [items]="project.teamMembers"
                    [itemTextAttribute]="['name', 'email']"
                    (onItemClicked)="getSelectedUsers($event)"
                    [label]="'Select Users'"
                    [selectAllLabel]="'Select All + Members who have left'"
                    [selectedItemIndex]="selectedItemIndex"></swing-select>
    </div>
  </div>
  <div class="columns ps-activities-stat-wrapper">
    <div class="column is-offset-1 is-10 ps-chart-column" style="background-color: white">
      <chart *ngIf="project" [project]="project" [selectedUsers]="selectedUsers" (chartLoaded)="UpdatePageLoader(true)"
             [parentHasActivity]="projectActivities.length > 0 ? true: false"></chart>
      <div class="ps-import-export-container has-text-right">
        <button class="button ps-import" [ngClass]="{'is-loading': isImporting, 'is-light': isImporting}" (click)="importActivities()">
          <input class="ps-import-upload" id="uploadInput" type="file" accept="application/json" (change)="fileUpload($event)"/>
          <span class="icon-import ps-import-icon"></span>
          <span>Import (Json)</span>
        </button>
        <div *ngIf="projectActivities.length > 0" class="dropdown ps-export is-right" [ngClass]="{'is-hoverable': !isExporting}">
          <div class="dropdown-trigger">
            <button class="button" [ngClass]="{'is-loading': isExporting, 'is-light': isExporting}" aria-haspopup="true" attr.aria-controls="dropdownMenu">
              <span class="icon-export ps-export-icon"></span>
              <span>Export</span>
            </button>
          </div>
          <div class="dropdown-menu ps-export-drop-down has-text-centered" #dropdownMenu role="menu">
            <div class="dropdown-content">
              <a class="dropdown-item ps-export-item" (click)="exportActivitiesAsJson()">
                Json
              </a>
              <a class="dropdown-item ps-export-item" (click)="exportActivitiesAsCSV()">
                CSV
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-offset-3-widescreen is-6-widescreen is-4-fullhd is-offset-4-fullhd is-6-desktop is-offset-3-desktop is-6-tablet is-offset-3-tablet ps-activities-column">
      <div *ngIf="currentActivities.length > 0 && this.selectedUsers.length > 0" class="ps-activity-item">
        <ng-container>
          <div class="ps-header-container">
            <div class="ps-activity-header">
              Current Activities
            </div>
          </div>
          <div class="ps-card-container">
            <div *ngFor='let currentActivityOfUser of currentActivities; trackBy: let i = index'>
              <div *ngIf='currentActivityOfUser.isActive'>
                <activity-item [activity]="currentActivityOfUser" [project]="project" [currentUser]="user"></activity-item>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div *ngFor='let group of projectActivities; trackBy: let j = index' class="ps-activity-item">
        <ng-container *ngIf="group.activities.length > 0 && project">
          <div class="ps-header-container">
            <div class="ps-activity-header">
              {{group.date}} / {{group.duration}}
            </div>
          </div>
          <div class="ps-card-container">
            <div *ngFor='let activity of group.activities; trackBy: let i = index'>
              <activity-item [activity]="activity" [project]="project" [currentUser]="user" [deleteButtonDisabled]="deleteButtonDisabled"
                             (onDeleteClicked)="deleteActivity(activity, j, i)" (onEditClicked)="openEditManuallyModal(activity)"></activity-item>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
