@import "../../../../sass/variables"

.ps-activities-container
  position: relative

.ps-activity-item
  &:before
    border-left: 2px solid $primary-light
    content: ''
    height: 25%
    position: absolute
    z-index: -1

.ps-card-container
  background: $paper
  border-radius: $radius
  padding: 5px
  text-align: left
  div
    border-bottom: 1px solid #dedfcb
    margin: 0 10px 0 10px
    &:last-child
      border-bottom: none

.ps-activity-header
  width: 50%
  border-top-left-radius: 100px
  border-bottom-right-radius: 100px
  color: $paper
  background: $primary-light
  margin: 0 auto
  padding: 5px
  font-size: 0.9rem
  @media (max-width: $ps-mobile)
    font-size: 0.8rem

.ps-header-container
  min-height: 80px
  padding-top: 30px

.ps-activity-top-button
  cursor: pointer
  font-size: 1.5rem
  line-height: 3rem
  position: absolute
  color: $primary-light
  background-color: $paper
  border-radius: 100%
  height: 50px
  width: 50px
  z-index: 5
  top: 30px
  right: 50px
  @media (max-width: $ps-mobile)
    height: 40px
    width: 40px
    top: 20px
    right: 5px
    font-size: 1.2rem
    line-height: 2.5rem
.icon-back
  &:before
    margin-left: 0

.ps-activity-back
  left: 50px !important
  @media (max-width: $ps-mobile)
    left: 5px !important
  @media (min-width: 1024px)
    margin-left: 64px
