<div class="container ps-activities-container">
  <span class="ps-activity-top-button icon-plus" (click)="openAddManuallyModal()" title="Add new activity"></span>
  <span class="ps-activity-top-button ps-activity-back icon-back" (click)="goBack()" title="Back"></span>
  <ng-container *ngIf="userAccess">
    <div *ngIf="project" class="ps-stat-user-filter-wrapper" title="Select users">
      <swing-select [type]="'multiSelect'"
                    [items]="project.teamMembers"
                    [itemTextAttribute]="['name', 'email']"
                    (onItemClicked)="getSelectedUsers($event)"
                    [label]="'Select Users'"
                    [selectedItemIndex]="selectedItemIndex"></swing-select>
    </div>
  </ng-container>
  <div class="columns ps-activities-stat-wrapper">
    <div class="column is-offset-1 is-10" style="background-color: white">
      <chart *ngIf="project" [project]="project" [selectedUsers]="selectedUsers" (chartLoaded)="UpdatePageLoader(true)"
             [parentHasActivity]="projectActivities.length > 0 ? true: false"></chart>
    </div>
  </div>
  <div class="columns">
    <div class="column is-offset-4-widescreen is-4-widescreen is-4-desktop is-offset-4-desktop is-6-tablet is-offset-3-tablet ps-activities-column">
      <div *ngIf="currentActivityCopy" class="ps-activity-item">
        <ng-container>
          <div class="ps-header-container">
            <div class="ps-activity-header">
              Current Activity
            </div>
          </div>
          <div class="ps-card-container">
            <div>
              <activity-item [activity]="currentActivityCopy" [project]="project" [currentUser]="user"></activity-item>
            </div>
          </div>
        </ng-container>
      </div>
      <div *ngFor='let group of projectActivities; trackBy: let j = index' class="ps-activity-item">
        <ng-container *ngIf="group.activities.length > 0 && project">
          <div class="ps-header-container">
            <div class="ps-activity-header">
              {{group.date}} / {{group.duration}}
            </div>
          </div>
          <div class="ps-card-container">
            <div *ngFor='let activity of group.activities; trackBy: let i = index'>
              <activity-item [activity]="activity" [project]="project" [currentUser]="user" [deleteButtonDisabled]="deleteButtonDisabled"
                             (onDeleteClicked)="deleteActivity(activity, j, i)" (onEditClicked)="openEditManuallyModal(activity)"></activity-item>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
