@import "../../../../sass/variables"

.box
  border-radius: unset

.ps-notification-button-accept
  border-color: $ps-primary !important
  margin-left: 5px
  margin-right: 5px

.ps-notification-button-deny
  border-color: $red !important
  margin-left: 5px
  margin-right: 5px

.ps-link
  color: $cornflowerBlue !important
  transition: all ease-in-out $ps-transitions
  &:hover
    color: $black-light !important

.ps-update-icon
  color: $cornflowerBlue !important
  display: inline-block
