<div class="box">
  <article class="media">
    <div class="media-content">
      <div *ngIf="isUpdateAvalable">
        <div class="content has-text-centered">
          <p>
            <span class="icon-info-circled-alt ps-update-icon"></span>
            a new version of pendulums is available. you can download it from <b><a href="http://pendulums.io/"
            class="ps-link">Here</a></b>.
          </p>
          <hr *ngIf="pendingInvitations != 0">
        </div>
      </div>
      <app-invite-notif></app-invite-notif>
    </div>
  </article>
</div>
