<div class="container ps-profile-padding">
<div class="ps-project-name-container">
    <div class="ps-activity-top-button icon-back" (click)="goBack()" title="Back"></div>
    <div class="ps-project-name">
      Profile
    </div>
    <div></div>
  </div>
  <div class="columns is-multiline is-centered">
    <div class="column is-4-widescreen is-6-desktop is-6-tablet ps-card-space">
      <div class="box">
        <div class="ps-profile-image-container">
          <img *ngIf="userEdit.profileImage" (click)="openImageModal()" class="ps-user-image"
                src="{{userEdit.profileImage? environment.imagesEndpoint + '/profile/' + userEdit.profileImage :
                        'assets/images/placeholder.png'}}">
          <svg *ngIf="!userEdit.profileImage" (click)="openImageModal()" class="ps-user-image"
                width="36" height="36" [identiconHash]="emailHash">
            Fallback text for browsers not supporting inline svg
          </svg>
          <span class="icon-pencil ps-pencil-image-change" (click)="openImageModal()"></span>
        </div>
        <div class="ps-reserve-space"></div>
        <div>
          <div *ngIf="!userNameEdited" title="Edit name">
            {{userEdit.name? userEdit.name : "No name"}}
            <span class="ps-edit-profile-button icon-user-edit" (click)="toggleView()"></span>
          </div>
          <div *ngIf="userNameEdited">
            <input [(ngModel)]="userEdit.name" class="input ps-user-name"
                   placeholder="no name" type="text">
            <a  *ngIf="!editButtonDisabled" class="button ps-edit-profile-parent-btn" (click)="toggleView()">
              <span class="icon">
                <i class="ps-edit-profile-button icon-cancel" [ngClass]="{'has-text-danger': !editButtonDisabled}"></i>
              </span>
            </a>
            <a  class="button ps-edit-profile-parent-btn" [ngClass]="{'is-loading': editButtonDisabled}" (click)="saveProfile()">
              <span class="icon">
                <i class="ps-edit-profile-button icon-check" [ngClass]="{'has-text-success': !editButtonDisabled}"></i>
              </span>
            </a>
          </div>
        </div>
        <div>{{userEdit.email}}</div>
        <div class="ps-reserve-space"></div>
      </div>
    </div>
    <div class="column is-4-widescreen is-6-desktop is-6-tablet ps-card-space">
      <div class="box">
        <form (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm" novalidate>
          <div class="is-centered">
            <div dir="auto">
              <div class="field">
                <h3 class="title is-4">
                  Change password
                </h3>
              </div>
              <div class="field">
                <p class="control">
                  <input [(ngModel)]="data.oldPassword" name="password" class="input"
                         placeholder="Old password" type="password" autocomplete="false">
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <input [(ngModel)]="data.newPassword" name="password" class="input"
                         placeholder="New password" type="password" autocomplete="false">
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-right">
                  <input [(ngModel)]="rePassword" name="rePassword" class="input"
                         placeholder="Re-type new password" type="password" autocomplete="false">
                </p>
              </div>
              <br>
              <div class="field">
                <p class="control">
                  <button class="button is-fullwidth ps-profile-pass-button" type="submit" title="{{ netConnected ? '' : 'Offline mode!'}}"
                          [disabled]="submitted || !netConnected" [ngClass]="{'is-loading': submitted}">Reset Password
                  </button>
                </p>
              </div>
              <div class="ps-reserve-big-space"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="columns is-multiline is-centered">
    <div class="column is-8-widescreen is-12-desktop is-12-tablet ps-card-space">
      <div class="box">
        <div class="is-centered">
          <div dir="auto">
            <div class="field">
              <b class="title is-4">
                Profile Settings
              </b>
            </div>
            <div class="field has-text-left">
              <input id="receiveForgottenActivityEmailCheckBox" type="checkbox" [(ngModel)]="settings.receiveForgottenActivityEmail">
              <label for="receiveForgottenActivityEmailCheckBox"><strong>Forgotten actvity notice</strong></label>
              <div class="ps-setting-info-container">
                <p class="ps-setting-info">Receive email after 15 minutes while have current activity and tab close</p>
              </div>
            </div>
            <hr>
            <div class="field has-text-left">
              <input id="relaxationTimeCheckBox" type="checkbox" [(ngModel)]="settings.relaxationTime.isEnabled">
              <label for="relaxationTimeCheckBox"><strong>Rest Time</strong></label>
              <div class="ps-setting-info-container">
                <p class="ps-setting-info">Receive notification for rest after a while with current activity to rest</p>
              </div>
              <div class="columns">
                <div class="column" *ngIf="settings.relaxationTime.isEnabled">
                  <b>Preset</b> <br>
                  <select [(ngModel)]="relaxationTimeSelectorModel" (change)="timeSelectorChange()">
                    <option value="pomodoro1">Pomodoro time set 1</option>
                    <option value="pomodoro2">Pomodoro time set 2</option>
                    <option value="pomodoro3">Pomodoro time set 3</option>
                    <option value="pomodoroCustom">custom time</option>
                  </select>
                </div>
                <div class="column" *ngIf="settings.relaxationTime.isEnabled">
                  <b>Working time by minutes</b> <br>
                  <input [(ngModel)]="workingTimeInputModel" type="text"
                    class="input" placeholder="Work time(minutes)" (input)="changeDropDown()">
                </div>
                <div class="column" *ngIf="settings.relaxationTime.isEnabled">
                  <b>Resting time by minutes</b>
                  <input class="ps-content-space" [(ngModel)]="relaxTimeInputModel" type="text"
                    class="input" placeholder="Relax time(minutes)" (input)="changeDropDown()">
                </div>
              </div>
            </div>
            <div class="field">
                <button class="button is-fullwidth ps-profile-pass-button" [ngClass]="{'is-loading': submitted}"
                [disabled]="submitted || !netConnected" (click)="updateSettings($event)">Save Settings</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
