@import "../../sass/variables"

.ps-profile-padding
  padding-top: 20px
  padding-bottom: 20px

.ps-user-image
  width: 120px
  height: 120px
  border: 1px solid $ink
  border-radius: 100%
  cursor: pointer

.ps-edit-profile-button
  cursor: pointer

.ps-user-name
  width: 70%
  max-width: 75%
  font-size: 0.85rem
  border-radius: unset !important
  box-shadow: unset !important

.ps-reserve-space
  visibility: hidden
  height: 40px
  @media (max-width: $ps-mobile)
    height: 10px
