<div class="container ps-profile-padding">
<div class="ps-project-name-container">

  </div>
  <div class="columns is-multiline is-centered">
    <div class="column is-4-widescreen is-6-desktop is-6-tablet ps-card-space">
      <div class="box">
        <div class="ps-profile-image-container">
          <img *ngIf="userEdit.profileImage" (click)="openImageModal()" class="ps-user-image"
                src="{{userEdit.profileImage? environment.imagesEndpoint + '/profile/' + userEdit.profileImage :
                        'assets/images/placeholder.png'}}">
          <svg *ngIf="!userEdit.profileImage" (click)="openImageModal()" class="ps-user-image"
                width="36" height="36" [identiconHash]="emailHash">
            Your browser does not support SVG
          </svg>
          <span class="icon-pencil ps-pencil-image-change" (click)="openImageModal()"></span>
        </div>
        <div class="ps-reserve-space"></div>
        <div>
          <div *ngIf="!userNameEdited" title="Edit name">
            {{userEdit.name? userEdit.name : "No name"}}
            <span class="ps-edit-profile-button icon-user-edit" (click)="toggleView()"></span>
          </div>
          <div *ngIf="userNameEdited">
            <input [(ngModel)]="userEdit.name" class="input ps-user-name"
                   placeholder="no name" type="text">
            <a  *ngIf="!editButtonDisabled" class="button ps-edit-profile-parent-btn" (click)="toggleView()">
              <span class="icon">
                <i class="ps-edit-profile-button icon-cancel" [ngClass]="{'has-text-danger': !editButtonDisabled}"></i>
              </span>
            </a>
            <a  class="button ps-edit-profile-parent-btn" [ngClass]="{'is-loading': editButtonDisabled}" (click)="saveProfile()">
              <span class="icon">
                <i class="ps-edit-profile-button icon-check" [ngClass]="{'has-text-success': !editButtonDisabled}"></i>
              </span>
            </a>
          </div>
        </div>
        <div>{{userEdit.email}}</div>
        <div class="ps-reserve-space"></div>
      </div>
    </div>
    <div class="column is-4-widescreen is-6-desktop is-6-tablet ps-card-space">
      <div class="box">
        <form (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm" novalidate>
          <div class="is-centered">
            <div dir="auto">
              <div class="field">
                <h3 class="title is-4">
                  Change password
                </h3>
              </div>
              <div class="field">
                <p class="control">
                  <input [(ngModel)]="data.oldPassword" name="password" class="input"
                         placeholder="Old password" type="password" autocomplete="off" value="">
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <input [(ngModel)]="data.newPassword" name="password" class="input"
                         placeholder="New password" type="password" autocomplete="off" value="">
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-right">
                  <input [(ngModel)]="rePassword" name="rePassword" class="input"
                         placeholder="Re-type new password" type="password" autocomplete="off" value="">
                </p>
              </div>
              <br>
              <div class="field">
                <p class="control">
                  <button class="button is-fullwidth ps-profile-pass-button" type="submit" title="{{ netConnected ? '' : 'Offline mode!'}}"
                          [disabled]="submitted || !netConnected" [ngClass]="{'is-loading': submitted}">Reset Password
                  </button>
                </p>
              </div>
              <div class="ps-reserve-big-space"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="columns is-multiline is-centered">
    <div class="column is-8-widescreen is-12-desktop is-12-tablet ps-card-space">
      <div class="box">
        <div class="is-centered">
          <div dir="auto">
            <div class="field">
              <b class="title is-4">
                Settings
              </b>
            </div>
            <div class="field has-text-left">
              <input id="receiveForgottenActivityEmailCheckBox" type="checkbox" [(ngModel)]="settings.receiveForgottenActivityEmail">
              <label for="receiveForgottenActivityEmailCheckBox"><strong>Forgotten activity notice</strong></label>
              <div class="ps-setting-info-container">
                <p class="ps-setting-info">Turn on to receive an email if you have a current activity and left the app for 15 minutes</p>
              </div>
            </div>
            <hr>
            <div class="field has-text-left">
              <input id="relaxationTimeCheckBox" type="checkbox" [(ngModel)]="settings.relaxationTime.isEnabled">
              <label for="relaxationTimeCheckBox"><strong>Rest Time</strong></label>
              <div class="ps-setting-info-container">
                <p class="ps-setting-info">Turn on to receive "Rest Time" notifications in specific intervals</p>
              </div>
              <div class="columns">
                <div class="column" *ngIf="settings.relaxationTime.isEnabled">
                  <b>Presets</b> <br>
                  <div class="select">
                    <select [(ngModel)]="relaxationTimeSelectorModel" (change)="timeSelectorChange()" class="ps-body-input ps-select">
                      <option value="pomodoro1">Pomodoro time set 1</option>
                      <option value="pomodoro2">Pomodoro time set 2</option>
                      <option value="pomodoro3">Pomodoro time set 3</option>
                      <option value="pomodoroCustom">Custom time set</option>
                    </select>
                  </div>
                </div>
                <div class="columns is-mobile">
                  <div class="column" *ngIf="settings.relaxationTime.isEnabled">
                    <b>Work for (minutes)</b>
                    <input [(ngModel)]="workingTimeInputModel" type="number" (keypress)="numberOnly($event)"
                      class="input" placeholder="Work time (minutes)" (input)="changeDropDown()">
                  </div>
                  <div class="column" *ngIf="settings.relaxationTime.isEnabled">
                    <b>Rest for (minutes)</b>
                    <input class="ps-content-space" [(ngModel)]="relaxTimeInputModel" type="number" (keypress)="numberOnly($event)"
                      class="input" placeholder="Rest time (minutes)" (input)="changeDropDown()">
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="field has-text-left ps-theme-section">
              <b>Theme:</b>
              <div class="select">
                <select [(ngModel)]="themeSelector" class="ps-body-input ps-select ps-select-theme">
                  <option value="light">Light</option>
                  <option value="dark">Dark</option>
                </select>
              </div>
            </div>
            <div class="field ps-save-btn-container">
                <button class="button is-fullwidth ps-profile-pass-button" [ngClass]="{'is-loading': settingsSubmitted}"
                [disabled]="settingsSubmitted || !netConnected" (click)="updateSettings()">Save Settings</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns is-multiline is-centered">
    <div class="column is-8-widescreen is-12-desktop is-12-tablet ps-card-space">
      <div class="box">
        <div class="is-centered">
          <div dir="auto">
            <div class="field">
              <b class="title is-4 ps-dangerous-actions-title">
                Dangerous Actions
              </b>
            </div>
            <div class="field has-text-left">
              <button class="button is-fullwidth ps-delete-action-button" [ngClass]="{'is-loading': settingsSubmitted}"
                [disabled]="settingsSubmitted || !netConnected" (click)="deleteAccount()">Delete Account</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
