@import "../../../../../sass/variables"

.ps-activity-item-inner
  padding: 10px
  display: inline-block
  width: 100%
  position: relative
  .ps-activity-item-inner-text
    min-width: 80%

.ps-activity-item-name
  margin-bottom: 0.5rem
  @media (max-width: $ps-mobile)
    font-size: 0.75rem

.ps-activity-item-text
  font-size: 0.7rem
  color:  gray
  @media (max-width: $ps-mobile)
    font-size: 0.65rem

.ps-activity-item-done-by-container
  position: relative

.ps-activity-item-done-by
  white-space: nowrap
  text-overflow: ellipsis
  width: 70px
  position: absolute
  top: 3px
  left: 25px

.ps-activity-member-image
  width: 20px
  height: 20px
  border: 1px solid $ink
  border-radius: 100%


.ps-activity-item-button
  overflow: hidden
  font-size: 1.4rem
  position: absolute
  right: 0
  bottom: 0
  i
    cursor: pointer
  @media (max-width: $ps-mobile)
    font-size: 1rem
