<div class="ps-activity-item-inner">
  <div class="is-pulled-left ps-activity-item-inner-text">
    <p class="ps-activity-item-name" dir="auto">{{activity.name}}</p>
    <div *ngIf="activityUser" class="has-text-left ps-activity-item-done-by-container">
      <img class="ps-activity-member-image" *ngIf="activityUser.profileImage"
           src="{{activityUser.profileImage? config.imagesEndpoint + '/profile/' + activityUser.profileImage :
                  '../../../../../assets/images/placeholder.jpg'}}">
      <svg *ngIf="!activityUser.profileImage" class="ps-activity-member-image" width="20" height="20" [identiconHash]="getEmailHash(activityUser.email)">
        Fallback text for browsers not supporting inline svg
      </svg>
      <span class="ps-activity-item-text ps-activity-item-done-by">
        <p *ngIf="activityUser.id != currentUser.id">Done by: &nbsp; {{activityUser.name ? activityUser.name : activityUser.email}}</p>
        <p *ngIf="activityUser.id == currentUser.id">Done by: &nbsp; you!</p>
      </span>
    </div>
    <div *ngIf="!activityUser" class="has-text-left ps-activity-item-done-by-container">
      <img class="ps-activity-member-image"
           src='../../../../../assets/images/placeholder.jpg'>
      <span class="ps-activity-item-text ps-activity-item-done-by">
        <p>Done by: &nbsp; who has left this project</p>
      </span>
    </div>
    <p class="ps-activity-item-text"><i class="icon-stopwatch"></i> from {{from}} to {{to}} / {{duration}}</p>
  </div>
  <ng-container *ngIf="activity.stoppedAt">
  <div class="ps-activity-item-button is-pulled-right" *ngIf="!deleteConfirmation">
    <i class="icon-pencil has-text-success" (click)="openEditManuallyModal()"></i>
    <i class="icon-trash has-text-danger" (click)="delete()"></i>
  </div>
  </ng-container>
  <div class="ps-activity-item-button is-pulled-right" *ngIf="deleteConfirmation" [@slideInOut]>
    <a  *ngIf="!deleteButtonDisabled" class="button ps-activity-item-button-confirmation" (click)="cancelDelete()">
      <span class="icon">
        <i class="icon-cancel" [ngClass]="{'has-text-danger': !deleteButtonDisabled}"></i>
      </span>
    </a>
    <a  class="button ps-activity-item-button-confirmation" [ngClass]="{'is-loading': deleteButtonDisabled}" (click)="confirmDelete()">
      <span class="icon">
        <i class="icon-check" [ngClass]="{'has-text-success': !deleteButtonDisabled}"></i>
      </span>
    </a>
  </div>
</div>
