<toolbar *ngIf="(user | async).id" [user]="user | async" [projects]="projects | async" [currentActivity]="currentActivity"
         class="ps-toolbar" (onMenuItemClicked)="showSideMenu($event)" ></toolbar>
<div class="columns ps-main-content" [ngClass]="{'ps-main-signed-in-content-with-side': (user | async).id, 'ps-main-signed-in-content-without-side': !SideMenuIsActive}">
  <side-menu #sideMenu *ngIf="(user | async).id" [user]="user | async" [netConnected]="netConnected" (onSignoutClicked)="signOut()"
             class="ps-side-menu" [ngClass]="{'ps-side-menu-show': SideMenuIsActive}" (clickedOutsideOfMenu)="clickedOutSideOfMenu($event)"></side-menu>
  <div class="column has-text-centered">
    <div *ngIf="!netConnected" class="offline-indicator has-text-centered">
      Internet is offline!
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
