@import "../sass/variables.sass"
$toolbar-size: 52px
$side-menu-size: 64px

.ps-toolbar
  position: fixed
  top: 0
  width: 100%
  z-index: 10
  box-shadow: 0 3px 10px #666666

.ps-main-content
  padding-top: $toolbar-size
  &.ps-main-signed-in-content-with-side
    padding-left: $side-menu-size
    @media (max-width: $ps-mobile)
     padding-left: 0px
  &.ps-main-signed-in-content-without-side
    @media (max-width: 1200px)
      padding-left: 0px

.ps-side-menu
  position: fixed
  left: 0
  top: $toolbar-size
  height: 100vh
  z-index: 9
  @media (max-width: 1024px)
    display: none

.ps-side-menu-show
  display: inherit

.offline-indicator
  background-color: $google-login
  color: $paper
  font-size: 0.8rem
