@import "../../../../../sass/variables"

$item-size: 180px

.ps-project-item
  height: $item-size

.ps-text-padding
  padding-left: 10px

.ps-item-font-size-1
  font-size: 0.7rem

.ps-title
  padding-left: 10px
  padding-top: 10px
  padding-right: 10px
  margin-bottom: unset
  height: 40px
  p
    max-width: 100px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

.ps-task-input
  font-size: 0.75rem
  background-color: rgba(0, 0, 0, 0.5)
  border-radius: unset !important
  border: unset !important
  box-shadow: unset !important
  width: 95%
  max-width: 95%
  color: $paper

.ps-project-header-ellipsis
  overflow: hidden
  text-overflow: ellipsis
  width: 200px
  max-width: 200px
  white-space: nowrap

.ps-item-card-button
  font-size: 0.8rem
  line-height: 1.5rem
  padding-left: 2.5px
  border-radius: 100%
  width: 25px
  height: 25px
  color: $paper
  text-align: center
  background-color: rgba(0, 0, 0, 0.5)
  cursor: pointer

.ps-item-card-stop
  min-width: 25px
  font-size: 0.7rem
  padding-left: unset

.ps-item-table
  background-color: inherit
  table-layout: fixed
  width: 100%
  white-space: nowrap
  td
    font-size: 0.75rem
    border-color: black
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    &.row-narrow
      width: 80px
      text-align: left !important
  tr
    &:hover
      background-color: transparent

.ps-image-caption
  width: 100%
  height: 30px
  background-color: rgba(0, 0, 0, 0.7)
  position: absolute
  bottom: 0
  color: $ink
  line-height: 30px
  padding-right: 10px
  padding-left: 10px

.ps-project-image-container
  height: $item-size
  width: $item-size
  background: no-repeat center center
  background-size: cover

.ps-member-image
  width: 24px
  height: 24px
  border: 1px solid $ink
  border-radius: 100%
  margin-left: -15px

.ps-back-member-image
  background-color: $aluminum !important

.ps-member-etc
  min-width: 24px
  min-height: 24px
  width: 24px
  height: 24px
  border: 1px solid $ink
  border-radius: 100%
  margin-left: -15px
  background-color: #A9A9A9

.ps-member-image-container
  padding-left: 15px
  height: 24px

.ps-project-footer
  position: absolute
  bottom: 0
  padding-right: 10px
  padding-left: 10px
  width: 100%
  line-height: 30px
  font-size: 0.75rem

.ps-project-footer-container
  position: relative

.ps-back-yellow
  background: #FFFF33
  .ps-owner-name
    color: darken(#FFFF33,30)
  .ps-picture-icon
    color: #FFFF33

.ps-back-pink
  background: #ea697b
  .ps-owner-name
    color: $paper
  .ps-picture-icon
    color: #ea697b

.ps-back-lawnGreen
  background: #cee83d
  .ps-owner-name
    color: $primary-light
  .ps-picture-icon
    color: #cee83d

.is-disabled
  cursor: not-allowed

.ps-task-input-container
  // todo: it must handle better for issue 22
  display: inline-flex
  @media (max-width: 768px) and (min-width: 447px)
    display: inherit
  @media (max-width: 1200px) and (min-width: 920px)
    display: inherit

.ps-play-stop-size
  font-size: 1rem