<div class="columns is-gapless is-mobile ps-project-item"
     [ngClass]="{'ps-back-pink': project.id.charCodeAt(project.id.length - 1) % 3 == 0,
      'ps-back-lawnGreen': project.id.charCodeAt(project.id.length - 1) % 3 == 1,
       'ps-back-yellow': project.id.charCodeAt(project.id.length - 1) % 3 == 2}">
  <figure class="image ps-project-image-container"
    [ngStyle]="{'background-image': project.image ? 'url(' + config.imagesEndpoint + '/projects/' + project.image + ')' :
         'url(../../../../../assets/images/placeholder.jpg)'}">
    <div class="ps-image-caption">
      <a [ngClass]="{'is-disabled': !status.netStatus}" title="{{ status.netStatus ? '' : 'Offline mode!'}}" (click)="showSettings()">
        <span class="is-pulled-left">
        <i class="icon-settings ps-picture-icon" ></i>
      </span>
      </a>
      <a [ngClass]="{'is-disabled': !status.netStatus}" title="{{ status.netStatus ? '' : 'Offline mode!'}}" (click)="goToActivities()">
        <span class="is-pulled-right">
         <i class="icon-statistic ps-picture-icon" ></i>
        </span>
      </a>
    </div>
  </figure>
  <div class="column ps-project-footer-container">
    <div class="has-text-left ps-title" [ngClass]="{'ps-task-input-container': activityStarted}">
      <span class="subtitle is-inline-block">
        <p *ngIf="!activityStarted">{{project.name}}</p>
        <input [(ngModel)]="taskName" class="input ps-task-input" (change)="nameActivity($event)"
               placeholder="Task Name" type="text" *ngIf="activityStarted">
      </span>
      <span class="is-pulled-right is-inline-block" (click)="toggleStopStart()">
        <a  class="button ps-item-card-button" [ngClass]="{'is-loading': activityButtonDisabled}">
          <span class="icon">
            <i *ngIf="activityStarted" class="icon-stop"></i>
            <i *ngIf="!activityStarted" class="icon-play"></i>
          </span>
        </a>
      </span>
    </div>
    <div>
      <div class="has-text-left ps-text-padding ps-item-font-size-1 ps-project-header-ellipsis">
        <span>Owned by: </span>
        <span class="ps-owner-name">
          <b>{{project.owner.name ? project.owner.name : project.owner.email}}</b>
        </span>
      </div>
    </div>
    <div *ngIf="project.activities && project.activities.length > 0" class="ps-title">
      <table class="table ps-item-table">
        <tbody>
        <tr *ngFor="let activity of activities">
          <td>{{activity.name}}</td>
          <td class="row-narrow has-text-right">
            <i class="icon-stopwatch"></i>
            {{activity.hour}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="ps-empty-item">
      <table *ngIf="!project.activities || project.activities.length === 0" class="table ps-item-table">
        <tbody>
        <tr>
          <td class="has-text-centered">There is no activity yet!</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="ps-project-footer is-full">
      <div class="has-text-left ps-member-image-container">
        <span *ngFor="let member of project.teamMembers|slice:0:4">
          <img class="ps-member-image" *ngIf="member.profileImage"
               src="{{member.profileImage? config.imagesEndpoint + '/profile/' + member.profileImage :
                      '../../../../../assets/images/placeholder.jpg'}}">
          <svg *ngIf="!member.profileImage" class="ps-member-image ps-back-member-image" width="24" height="34" [identiconHash]="getEmailHash(member.email)">
          Fallback text for browsers not supporting inline svg
        </svg>
        </span>
        <span *ngIf="project.teamMembers.length > 4">
          <img class="ps-member-image"
               src='../../../../../assets/images/ellipsis.jpg'>
        </span>
        <span class="is-pulled-right">
        <i class=" icon-group">
          {{project.teamMembers.length}}
        </i>
      </span>
      </div>
      <!--<span class
        ed-left">-->
        <!--12 $/h-->
      <!--</span>-->
    </div>
  </div>
</div>
