@import "../../../../../sass/variables"
@import "./project-backcolor"

.ps-project-item-container
  height: $item-size
  &:hover
    cursor: pointer
  .ps-project-item-card
    height: $item-size
    border: unset
    overflow-y: hidden
    .ps-project-item-card-content
      padding: 10px !important
      height: $item-size
      display: flex
      flex-direction: column
      .ps-media-content
        display: grid
        width: 100%
        .ps-owner-container
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
          .ps-owner-name
            color: rgba(0,0,0,0.5)
      .ps-project-image-container
        height: 80px
        width: 80px
        background: no-repeat center center
        background-size: cover
        border-radius: $radius !important
      .ps-item-card-button
        background-color: rgba(0,0,0,0.5)
        border: none
        padding: 0
        color: $paper
        border-radius: 100%
        height: 36px
        width: 36px
        min-height: 36px
        min-width: 36px
        max-height: 36px
        max-width: 36px
        font-size: 24px
        text-align: center
        .icon-play
          margin-left: 2px
      .ps-project-item-card-title
        font-size: 1.5rem
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
      .ps-task-input
        height: 36px
        font-size: 0.9rem
        background-color: rgba(0,0,0,0.3)
        border-radius: unset
        border: unset !important
        color: $paper !important
