<div class="columns is-gapless is-mobile ps-project-item"
     [ngClass]="{'ps-back-pink': project.id.charCodeAt(project.id.length - 1) % 3 == 0,
      'ps-back-lawnGreen': project.id.charCodeAt(project.id.length - 1) % 3 == 1,
       'ps-back-yellow': project.id.charCodeAt(project.id.length - 1) % 3 == 2}">
  <figure class="image ps-project-image-container"
    [ngStyle]="{'background-image': project.image ? 'url(' + config.imagesEndpoint + '/projects/' + project.image + ')' :
         'url(http://bulma.io/images/placeholders/640x480.png)'}">
    <div class="ps-image-caption">
      <a [ngClass]="{'is-disabled': !status.netStatus}"  (click)="showSettings()">
        <span class="is-pulled-left">
        <i class="icon-settings ps-picture-icon" ></i>
      </span>
      </a>
      <a [ngClass]="{'is-disabled': !status.netStatus}" (click)="goToActivities()">
        <span class="is-pulled-right">
         <i class="icon-statistic ps-picture-icon" ></i>
        </span>
      </a>
    </div>
  </figure>
  <div class="column ps-project-footer-container">
    <div class="has-text-left ps-title" [ngClass]="{'ps-task-input-container': activityStarted}">
      <span class="subtitle is-inline-block">
        <p *ngIf="!activityStarted">{{project.name}}</p>
        <input [(ngModel)]="taskName" class="input ps-task-input" (change)="nameActivity($event)"
               placeholder="Task Name" type="text" *ngIf="activityStarted">
      </span>
      <span class="is-pulled-right is-inline-block ps-item-card-button"
            [ngClass]="{'ps-item-card-stop': activityStarted}">
        <span *ngIf="activityStarted" class="icon-stop"  (click)="stopActivity()"></span>
        <span *ngIf="!activityStarted" class="icon-play"  (click)="startActivity()"></span>
      </span>
    </div>
    <div>
      <div class="has-text-left ps-text-padding ps-item-font-size-1 ps-project-header-ellipsis">
        <span>Owned by: </span>
        <span class="ps-owner-name">
          <b>{{project.owner.name ? project.owner.name : project.owner.email}}</b>
        </span>
      </div>
    </div>
    <div class="ps-title">
      <table *ngIf="project.activities" class="table ps-item-table">
        <tbody>
        <tr *ngFor="let activity of activities">
          <td>{{activity.name}}</td>
          <td class="row-narrow has-text-right">
            <i class="icon-stopwatch"></i>
            {{activity.hour}}
          </td>
        </tr>
        </tbody>
      </table>
      <table *ngIf="!project.activities || project.activities.length === 0" class="table ps-item-table">
        <tbody>
        <tr>
          <td>There is no activity yet!</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="ps-project-footer is-full">
      <div class="has-text-left ps-member-image-container">
        <span *ngFor="let member of project.teamMembers|slice:0:4">
          <img class="ps-member-image"
               src="{{member.profileImage? config.imagesEndpoint + '/profile/' + member.profileImage :
                      'http://bulma.io/images/placeholders/640x480.png'}}" >
        </span>
      </div>
      <span class="is-pulled-left">
        12 $/h
      </span>
      <span class="is-pulled-right">
        <i class=" icon-group">
          {{project.teamMembers.length}}
        </i>
      </span>
    </div>
  </div>
</div>
