@import '../../../sass/variables'

.ps-full-height
  height: 100% !important
  min-height: 250px

.ps-full-width-activities
  min-width: unset !important
  align-self: auto !important

.ps-recent-activities-container
  background-color: $white1
  border-radius: $radius
  display: flex
  flex-direction: column
  height: $ps-widget-size
  padding: 0
  flex-grow: 2
  .ps-no-recent-activities
    margin-top: auto
    margin-bottom: auto
    font-weight: bold
    color: $primary
    font-size: 18px
  .ps-recent-activity
    flex-grow: 1
    min-width: 520px
    align-self: center
    @media ( max-width: 520px )
      min-width: 320px
  .ps-recent-activity-divider
    margin: 8px 32px
    background-color: $black
    opacity: 0.4
  .ps-recent-activity-pagination
    display: flex
    justify-content: space-between
    margin-bottom: 8px
    .ps-icon-back
      cursor: pointer
      margin-left: 75px
    .ps-icon-next
      cursor: pointer
      margin-right: 75px