<div class="ps-recent-activities-container" [ngClass]="{'ps-full-height': matchHeightWithParent}">
  <ng-container *ngIf="activitiesPagination && activitiesPagination.length > 0">
    <ng-container *ngFor='let item of activitiesPagination[activitiesPaginationIndex]; let i = index'>
      <div class="ps-recent-activity" [ngClass]="{'ps-full-width-activities': matchWidthWithParent}">
        <activity-item [activity]="item.activity" [project]="item.project" [currentUser]="currentUser"></activity-item>
      </div>
      <hr *ngIf="i % 2 !== 0 || i == 0" class="ps-recent-activity-divider">
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!activitiesPagination || activitiesPagination.length === 0">
    <p *ngIf="!emptyPlaceHolder" class="ps-no-recent-activities">There are no recent activities</p>
    <p *ngIf="emptyPlaceHolder" class="ps-no-recent-activities">{{ emptyPlaceHolder }}</p>
  </ng-container>
  <div class="ps-recent-activity-footer" *ngIf="!showFooterPagination || activitiesPagination.length > 0">
    <ng-container *ngIf="showFooterPagination">
      <span class="ps-icon-back">
        <i *ngIf="activitiesPaginationIndex > 0"  (click)="prevRecentActivitiesPage()" class="icon-back"></i>
      </span>
      <span class="ps-icon-next">
        <i *ngIf="activitiesPagination.length > 1"  (click)="nextRecentActivitiesPage()" class="icon-arrow-right"></i>
      </span>
    </ng-container>
    <ng-container *ngIf="!showFooterPagination">
      <a class="ps-new-activities" (click)="openAddManuallyModal()"><i class="icon-plus"></i>New Activity</a>
      <a class="ps-more-activities" [routerLink]="['/activities', projectId]">More Activities</a>
    </ng-container>
  </div>
</div>
