<div class="ps-recent-activities-container">
  <ng-container *ngIf="activitiesPagination && activitiesPagination.length > 0">
    <ng-container *ngFor='let item of activitiesPagination[activitiesPaginationIndex]; let i = index'>
      <div class="ps-recent-activity">
        <activity-item [activity]="item.activity" [project]="item.project" [currentUser]="currentUser"></activity-item>
      </div>
      <hr *ngIf="i % 2 !== 0 || i == 0" class="ps-recent-activity-divider">
    </ng-container>
  </ng-container>
  <div class="ps-recent-activity-pagination">
    <span class="ps-icon-back">
      <i *ngIf="activitiesPaginationIndex > 0"  (click)="prevRecentActivitiesPage()" class="icon-back"></i>
    </span>
    <span class="ps-icon-next">
      <i *ngIf="activitiesPagination.length > 1"  (click)="nextRecentActivitiesPage()" class="icon-arrow-right"></i>
    </span>
  </div>
</div>