@import '../../../../../sass/variables'


.ps-text-red
  color: $red

.ps-text-gray
  color: darkgray
  margin-top: 10px

.ps-confirmation-container
  margin-top: auto
  margin-right: auto

.ps-confirm-text-input
  font-size: 0.75rem
  min-height: 2.5rem !important
  height: 2.25rem

.ps-confirm-button
  color: $paper
  background-color: $red

.ps-leave-button
  columns: $paper
  margin: 10px
  background-color: $red
  align-self: center

.ps-choose-member-container
  display: flex
  margin: 20px

.ps-members-select
  flex-basis: 80%
  margin-right: 30px

.ps-choose-member-button
  flex-basis: 20%

.ps-bottom-box
  display: flex
  flex-direction: column
