<div *ngIf="isOwner" dir="auto">
  <div class="columns is-mobile">
    <div class="column is-12">
      <div class="box has-text-left">
        <p class="ps-text-red">Deleting a project <b>CANNOT</b> be undone and ALL of your data will be lost. Are you sure?</p>
        <p class="ps-text-gray">Please type <b class="ps-text-red">'{{project.name}}'</b> to proceed this action.</p>
        <div class="columns is-mobile ps-confirmation-container">
          <div class="column is-8">
            <div class="field">
              <p class="control">
                <input [(ngModel)]="projectNameInput" name="Email" class="input ps-confirm-text-input"
                       placeholder="Enter project name" type="text">
              </p>
            </div>
          </div>
          <div class="column is-5">
            <a class="button is-danger ps-confirm-button" *ngIf="!deleteConfirmation" (click)="confirmToDelete()">
              Delete
            </a>
            <a class="button ps-confirm-button" *ngIf="deleteConfirmation" (click)="cancelDelete()" title="Cancel"
               [ngClass]="{'is-loading': deleteButtonDisabled, 'is-danger': !deleteButtonDisabled}">
              <span class="icon">
                <i class="icon-cancel"></i>
              </span>
            </a>
            <a class="button ps-confirm-button" *ngIf="deleteConfirmation && !deleteButtonDisabled" (click)="confirmFinalDelete()"
               [ngClass]="{'is-success': !deleteButtonDisabled}" title="Confirm">
              <span class="icon">
                <i class="icon-check"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="box has-text-left ps-bottom-box" *ngIf="project.teamMembers.length > 1">
        <p>Leaving <b>WILL NOT</b> delete your data on this project. You can ask the project owner or admins to invite you again.</p>
        <p class="ps-text-red">You are the project owner; to leave this project you should specify another owner for the project.</p>
        <div class="ps-choose-member-container">
          <div class="select ps-members-select">
            <select class="ps-body-input" [(ngModel)]="newOwnerId">
              <option *ngFor="let member of membersWithoutOwner" [value]="member.id">{{member.name ? member.name : member.email}}</option>
            </select>
          </div>
          <a class="button is-danger ps-leave-button-inline" *ngIf="!leaveConfirmation" (click)="confirmToLeave()">Leave</a>
          <a class="button ps-confirm-button" *ngIf="leaveConfirmation" (click)="cancelLeave()" title="Cancel"
             [ngClass]="{'is-loading': leaveButtonDisabled, 'is-danger': !leaveButtonDisabled}">
            <span class="icon">
              <i class="icon-cancel"></i>
            </span>
          </a>
          <a class="button ps-confirm-button" *ngIf="leaveConfirmation && !leaveButtonDisabled" (click)="leaveProject()"
              [ngClass]="{'is-success': !leaveButtonDisabled}" title="Confirm">
            <span class="icon">
              <i class="icon-check"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isAdmin || readOnly" dir="auto">
  <div class="box has-text-left ps-bottom-box">
    <p>Leaving <b>WILL NOT</b> delete your data on this project. You can ask the project owner or admins to invite you again.</p>
    <a class="button is-danger ps-leave-button" *ngIf="!leaveConfirmation" (click)="confirmToLeave()">Leave</a>
    <div class="ps-confirmation-container ps-confirmation-margin" *ngIf="leaveConfirmation">
      <a class="button ps-confirm-button" (click)="cancelLeave()" title="Cancel"
        [ngClass]="{'is-loading': leaveButtonDisabled, 'is-danger': !leaveButtonDisabled}">
        <span class="icon">
          <i class="icon-cancel"></i>
        </span>
      </a>
      <a class="button ps-confirm-button" *ngIf="!leaveButtonDisabled" (click)="leaveProject()"
        [ngClass]="{'is-success': !leaveButtonDisabled}" title="Confirm">
        <span class="icon">
          <i class="icon-check"></i>
        </span>
      </a>
    </div>
  </div>
</div>
