<div class="columns">
  <div *ngIf="calendarType === 'range'" class="column is-one-third" style="padding: 2px !important;">
    <ul class="ps-date-picker-shortcuts">
      <li (click)="setSpecificRange('last7days')">last 7 days</li>
      <li (click)="setSpecificRange('currentWeek')">current week</li>
      <li (click)="setSpecificRange('currentMonth')">current month</li>
      <li (click)="setSpecificRange('last3months')">last 3 months</li>
    </ul>
  </div>
  <div class="column">
    <div class="calendar">
      <div class="calendar-nav">
        <div class="calendar-nav-left">
          <button class="button is-link" (click)="setPrevMonth()">
            <span class="icon-back"></span>
          </button>
        </div>
        <div>{{currMonth}} {{currYear}}</div>
        <div class="calendar-nav-right">
          <button class="button is-link" (click)="setNextMonth()">
            <span class="icon-arrow-right"></span>
          </button>
        </div>
      </div>
      <div class="calendar-container">
        <div class="calendar-header">
          <div class="calendar-date" *ngFor='let day of daysOfWeek'>{{day}}</div>
        </div>
        <div class="calendar-body">
          <div class="calendar-date" [ngClass]="{'is-disabled': day.disabled && !(day.rangeStart || day.rangeEnd),
                                                 'calendar-range': day.calendarRange,
                                                 'range-start': day.rangeStart,
                                                 'range-end': day.rangeEnd}"
               *ngFor='let day of dates'>
            <button class="date-item"
                    [ngClass]="{'is-active': day.selected,
                                'is-today': day.date === currDate.date()
                                            && day.month === currDate.month()+1
                                            && day.year === currDate.year(),
                                'ps-date-item': calendarType === 'date'}"
                    (click)="dayClicked(day)" (mouseenter)="dayHovered(day)">
              {{day.date}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



