@import "../../../sass/variables"

.ps-tag
  margin: 4px 2px
  background: $primary-light
  color: $paper
  width: 90px
  overflow-x: hidden
  white-space: nowrap
  text-overflow: ellipsis
  display: inline-block
  line-height: 1.1rem
  border-left: 3px solid $red
  padding-left: 3px
