<form
  class="create-edit-note"
  #createEditNoteForm="ngForm"
  novalidate
  (keyup.control.s)="createEditNote()"
  [ngClass]="{'ps-project-create-palette-item-back-white1': note.colorPalette == 0,
                             'ps-project-create-palette-item-back-salmon': note.colorPalette == 1,
                             'ps-project-create-palette-item-back-blue': note.colorPalette == 2,
                             'ps-project-create-palette-item-back-black': note.colorPalette == 3,
                             'ps-project-create-palette-item-back-yellow': note.colorPalette == 4,
                             'ps-project-create-palette-item-back-pink': note.colorPalette == 5,
                             'ps-project-create-palette-item-back-red': note.colorPalette == 6,
                             'ps-project-create-palette-item-back-green': note.colorPalette == 7}"
  >
  <div class="is-centered form-content">
    <div dir="auto">
        <div class="columns is-mobile is-centered">
            <div class="is-half">
              <input [(ngModel)]="note.title" name="title" class="input ps-header-input"
              placeholder="Untitled Note..." type="text" [ngClass]="{'ps-project-create-palette-item-back-white1': note.colorPalette == 0,
              'ps-project-create-palette-item-back-salmon': note.colorPalette == 1,
              'ps-project-create-palette-item-back-blue': note.colorPalette == 2,
              'ps-project-create-palette-item-back-black': note.colorPalette == 3,
              'ps-project-create-palette-item-back-yellow': note.colorPalette == 4,
              'ps-project-create-palette-item-back-pink': note.colorPalette == 5,
              'ps-project-create-palette-item-back-red': note.colorPalette == 6,
              'ps-project-create-palette-item-back-green': note.colorPalette == 7}">
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="is-half">
              <div class="ps-note-date">
                <div class="is-pulled-left saved-txt">
                  Saved {{noteModel.updatedAt}}
                </div>
                <div class="icon is-pulled-left">
                    <i [ngClass]="loadingBtn ? 'is-loading' : 'icon-check' " class="button ps-act-item-button-confirmation" [ngClass]="{'has-text-success': !deleteButtonDisabled}"></i>
                </div>
              </div>
            </div>
        </div>
      <div class="columns">
        <div class="column column has-text-centered">
            <!-- <textarea name="content" [(ngModel)]="note.content" id="tiny"></textarea> -->
            <editor id="tiny" [(ngModel)]="note.content" name="content" [init]="{
      content_css: '../../../assets/tiny.css',
      branding: false,
      menubar: false,
      resize: false,
      statusbar: false,
      fontsize_formats: '8pt 10pt 12pt 14pt 18pt 24pt 36pt',
      toolbar: 'bold italic underline | numlist bullist | styleselect | undo redo image link hr | codesample blockquote',
      plugins: ['hr', 'link', 'listwithcheckbox', 'image', 'codesample'],
      height: 160,
      link_context_toolbar: true,
      target_list: false,
      image_dimensions: false,
      style_formats: [
        {title: 'Header 1', format: 'h1'},
          {title: 'Header 2', format: 'h2'},
          {title: 'Header 3', format: 'h3'},
          {title: 'Header 4', format: 'h4'},
          {title: 'Header 5', format: 'h5'},
          {title: 'Header 6', format: 'h6'}
      ]
    }"></editor>

        </div>
      </div>
    </div>
  </div>
<div class="ps-note-bottom" [ngClass]="{'ps-project-create-palette-item-back-white1': note.colorPalette == 0,
'ps-project-create-palette-item-back-salmon': note.colorPalette == 1,
'ps-project-create-palette-item-back-blue': note.colorPalette == 2,
'ps-project-create-palette-item-back-black': note.colorPalette == 3,
'ps-project-create-palette-item-back-yellow': note.colorPalette == 4,
'ps-project-create-palette-item-back-pink': note.colorPalette == 5,
'ps-project-create-palette-item-back-red': note.colorPalette == 6,
'ps-project-create-palette-item-back-green': note.colorPalette == 7}">
  <div class="ps-fill-space ps-p-b-0">
    <div class="field">
        <div class="control">
          <div class="select">
            <select class="ps-body-input ps-bg-input" [(ngModel)]="note.project" name="project">
              <option [ngValue]='null'>Select a project</option>
              <option [ngValue]='project.id' *ngFor='let project of projectsCopy; trackBy: projectsTrackBy'>{{project.name}}</option>
            </select>
          </div>
        </div>
    </div>
  </div>
  <div class="ps-color ps-p-b-0">
    <div class="ps-project-create-color-picker-container">
        <div class="ps-project-create-palette-container">
          <p class="ps-project-create-color" title="pick a color">
            <i class="icon-palette" id="id2" [(ngModel)]="note.colorPalette" name="colorPalette" ngDefaultControl (click)="togglePalette()"></i>
          </p>
          <div #noteCreatePalette [ngStyle]="{'display': showPaletteBoolean ? 'block' : 'none'}" class="ps-project-create-palette">
            <div class="ps-project-create-palette-colors-section">
              <div *ngFor='let index of [0,1,2,3,4,5,6,7]' class="ps-project-create-palette-item">
                <a id="id1" class="button is-fullwidth" (click)="selectColor(index)"
                    [ngClass]="{'ps-project-create-palette-item-back-white1': index == 0,
                                'ps-project-create-palette-item-back-salmon': index == 1,
                                'ps-project-create-palette-item-back-blue': index == 2,
                                'ps-project-create-palette-item-back-black': index == 3,
                                'ps-project-create-palette-item-back-yellow': index == 4,
                                'ps-project-create-palette-item-back-pink': index == 5,
                                'ps-project-create-palette-item-back-red': index == 6,
                                'ps-project-create-palette-item-back-green': index == 7}">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="ps-archive">
      <span class="pointer">
        <div class="dropdown">
            <div class="dropdown-trigger">
              <div aria-haspopup="true" aria-controls="dropdown-menu">
                <i class="icon-ellipsis-vert"></i>
              </div>
            </div>
            <div class="dropdown-menu is-up" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <div class="dropdown-item" (click)="archiveNote()" ngDefaultControl [(ngModel)]="note.isArchive" name="isArchive">
                    {{note.isArchive ? 'Move to board' : 'Archive' }}
                </div>
              </div>
            </div>
          </div>
      </span>
  </div>
</div>
</form>
