<section class="hero is-fullheight ps-app-background is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="ps-auth-back column ps-is-8-mobile ps-is-offset-2-mobile is-6-tablet is-offset-3-tablet is-4-desktop is-offset-4-desktop">
        <form (ngSubmit)="signIn()" #signinForm="ngForm" novalidate>
          <div class="is-centered">
            <div dir="auto">
              <div class="field">
                <h3 class="title is-4 ps-has-primary-color ">
                  Pendulums Time Tracking
                </h3>
              </div>
              <div [style.visibility]="errorMessage ? 'unset' : 'hidden'" class="notification ps-login-error has-text-centered">
                <span class="icon">
                <i class="icon-error"></i>
                </span>
                <span class="is-info">{{errorMessage}}</span>
              </div>
              <div class="field">
                <p class="control">
                  <input [(ngModel)]="authUser.email" name="email" class="input ps-email-input"
                         [ngClass]="{'ps-error': errorMessage }"
                         placeholder="Email" type="email">
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <input [(ngModel)]="authUser.password" name="password" class="input"
                         [ngClass]="{'ps-error': errorMessage }"
                         placeholder="Password" type="password">
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button class="button is-primary is-fullwidth" type="submit" [disabled]="submitted"
                          [ngClass]="{'is-loading': submitted}">Sign in</button>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button class="button ps-google-login is-fullwidth" title="coming soon!" [disabled]="true">Sign in with google
                  </button>
                </p>
              </div>
              <br>
              <div class="field">
                <a routerLink="/forgotPassword" class="ps-has-primary-color ps-has-underline">
                  Forgot your password?
                </a>
              </div>
              <br>
              <div class="field">
                <p class="ps-has-primary-color">You don’t have an account?</p>
                <p class="ps-has-primary-color ps-has-underline"><a routerLink="/signUp">Create one</a></p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
