<section class="hero ps-app-background is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-mobile is-centered">
        <div class="column is-one-third-desktop is-11-mobile is-half-tablet ps-auth-back">
          <form (ngSubmit)="signIn()" #signinForm="ngForm" novalidate>
            <div dir="auto">
              <div class="ps-auth-logo-container">
                <figure class="ps-auth-logo">
                  <img src="../../../assets/images/logo-blue.png"/>
                </figure>
              </div>
              <div class="field">
                <h5 class="content is-bold ps-has-primary-color">
                  <b>Pendulums Time Tracking</b>
                </h5>
              </div>
              <div class="field">
                <p class="control">
                  <input [(ngModel)]="authUser.email" name="email" class="input ps-email-input ps-auth-input"
                         [ngClass]="{'ps-error': errorMessage }"
                         placeholder="Email" type="email">
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <input [(ngModel)]="authUser.password" name="password" class="input ps-auth-input"
                         [ngClass]="{'ps-error': errorMessage }"
                         placeholder="Password" type="password">
                </p>
              </div>
              <div class="field">
                <p [style.visibility]="errorMessage ? 'unset' : 'hidden'" class="control ps-login-error is-fullwidth">
                  {{errorMessage}}
                </p>
                <p [style.visibility]="comingSoon ? 'unset' : 'hidden'" class="control ps-login-coming-soon is-fullwidth">
                  Coming soon!
                </p>
              </div>
              <div class="field">
                <div class="g-recaptcha" style="padding-left: 8px; padding-bottom: 30px" data-sitekey="6LcvEGgUAAAAAAc6K3L6rli9XH56-boFqJ_XZZDE"></div>
              </div>
              <div class="field">
                <p class="control">
                  <button class="button is-fullwidth is-primary ps-auth-buttons" type="submit" [disabled]="submitted"
                          [ngClass]="{'is-loading': submitted}">Sign in</button>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <a class="button is-fullwidth ps-auth-buttons ps-google-login" (click)="signInWithGoogle()" title="coming soon!">Sign in with google
                  </a>
                </p>
              </div>
              <br>
              <div class="field">
                <a routerLink="/forgotPassword" class="ps-has-primary-color ps-has-underline ps-auth-links">
                  Forgot your password?
                </a>
              </div>
              <br>
              <div class="field">
                <p class="ps-has-primary-color">You don’t have an account?</p>
                <p><a  class="ps-has-primary-color ps-has-underline ps-auth-links" routerLink="/signUp">Create one</a></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
