<div class="modal is-active">
  <div class="modal-background" (click)="closeModal()"></div>
  <div class="modal-card ps-modal-card" data-backdrop="static" [ngStyle]="customStyles">
    <section class="modal-card-body ps-modal-body">
      <button class="button is-pulled-right is-small is-danger ps-header-delete-button"
              (click)="closeModal()" title="Close">
        <span class="icon is-small">
          <i class="icon-cancel ps-icon-cancel ps-no-background"></i>
        </span>
      </button>

      <ng-container #contentContainer></ng-container>

    </section>
  </div>
</div>
