<div dir="auto" class="ps-container">
  <div class="columns is-gapless is-mobile ps-inviting-user">
    <div class="column">
      <div class="field">
        <p class="control">
          <input [(ngModel)]="user.email" name="Email" class="input ps-body-input ps-email-input"
                 placeholder="Enter email address ..." type="text" (keyup)="enterKey($event)">
        </p>
      </div>
    </div>
    <div class="column is-5">
      <div class="field">
        <p class="control">
          <span class="select ps-select is-fullwidth">
            <select class="ps-body-input ps-left-border"
                    [(ngModel)]="user.role" name="Role">
              <option *ngFor="let c of roles" [ngValue]="c"
                      [selected]="c == 'team member'">{{c}}</option>
            </select>
          </span>
        </p>
      </div>
    </div>
    <div class="column is-2 ps-line-height">
      <div class="field">
        <p class="control has-text-centered">
          <a class="button ps-invitation-add-item-button" (click)="invite()" [ngClass]="{'is-loading': inviteButtonDisabled}" title="Invite">
            <span class="icon">
              <i class="icon-plus ps-invitation-add-item-button-icon" [ngClass]="{'has-text-success': !inviteButtonDisabled}"></i>
            </span>
          </a>
        </p>
      </div>
    </div>
  </div>
  <ng-container *ngIf="project.invitedUsers.length > 0">
   <div *ngFor='let invited of project.invitedUsers;trackBy:let i = index'
       class="columns is-gapless is-mobile ps-margin-bottom ps-invited-user-item">
    <div class="column is-2">
      <svg width="36" height="36" [identiconHash]="userEmailHash(invited.email)" class="ps-invited-image">
        Fallback text for browsers not supporting inline svg
      </svg>
    </div>
    <div class="column is-8 ps-invited-email-container">
      <div class="has-text-left ps-invited-user-email">
        {{invited.email}}
      </div>
      <div class="ps-invited-user-role">
        {{invited.role}}
      </div>
    </div>
    <div class="column is-2">
      <div class="ps-invitation-item-button" *ngIf="cancelInvitationConfirmationViewIndex !== i" title="Delete">
        <a class="button ps-invitation-item-button-confirmation" (click)="confirmCancelInvitation(i)">
          <span class="icon">
            <i class="icon-trash ps-is-danger"></i>
          </span>
        </a>
      </div>
      <div class="ps-invitation-item-button" *ngIf="cancelInvitationConfirmationViewIndex === i" [@slideInOut]>
        <a class="button ps-invitation-item-button-confirmation" *ngIf="!cancelButtonDisabled"
           (click)="cancelInvitationConfirmation()" title="Cancel">
          <span class="icon">
            <i class="icon-cancel" [ngClass]="{'ps-is-danger': !cancelButtonDisabled}"></i>
          </span>
        </a>
        <a class="button ps-invitation-item-button-confirmation" [ngClass]="{'is-loading': cancelButtonDisabled}"
           (click)="cancelInvitation(invited, i)" title="Confirm">
          <span class="icon">
            <i class="icon-check" [ngClass]="{'ps-is-success': !cancelButtonDisabled}"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
  </ng-container>
  <ng-container *ngIf="project.invitedUsers.length === 0">
    <div class="field ps-empty-list">
      <p class="control has-text-centered">
        The list of invited users is empty!
      </p>
    </div>
  </ng-container>
</div>
