<div class="ps-recent-projects-container">
  <div class="ps-projects-container">
    <ng-container *ngIf="projects && projects.length > 0">
      <project-item *ngIf="projects[0]" [project]="projects[0]" [user]="user" [status]="status" [isEditable]="false"
                    [currentActivity]="currentActivity$" [hasBorderRadius]="false" class="ps-project-item"> </project-item>
      <project-item *ngIf="projects[1]" [project]="projects[1]" [user]="user" [status]="status" [isEditable]="false"
                    [currentActivity]="currentActivity$" [hasBorderRadius]="false" class="ps-project-item"> </project-item>
      <project-item *ngIf="projects[2]" [project]="projects[2]" [user]="user" [status]="status" [isEditable]="false"
                    [currentActivity]="currentActivity$" [hasBorderRadius]="false" class="ps-project-item"> </project-item>
    </ng-container>

    <ng-container *ngIf="!projects || projects.length === 0">
      <p class="ps-no-recent-projects">There are no recent projects</p>
    </ng-container>
  </div>

  <div class="ps-recent-projects-footer">
    <a class="ps-new-project" (click)="openCreateProjectModal()">
      <i class="bx bx-sm bx-plus"></i>
      New Project
    </a>
    <a class="ps-more-project" [routerLink]="['/projects']">More Projects</a>
  </div>
</div>
