<create-project> ... </create-project>
<div class="container is-fluid">
<div class="columns">
  <div class="column is-4">
    <div class="columns is-multiline is-4">
      <div class="column is-12">
        <div class="box"  style="height: 250px">
          <p class="title is-5">Narrow column</p>
          <p class="subtitle">This column is only 200px wide.</p>
        </div>
      </div>
      <div class="column is-12">
        <div class="box"  style="height: 200px">
          <p class="title is-5">Narrow column</p>
          <p class="subtitle">This column is only 200px wide.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-8">
    <div class="box">
      <list-of-project> ... </list-of-project>
    </div>
  </div>
</div>
</div>
