
.icon-export-1:before { content: '\e800'; } /* '' */
.icon-attention:before { content: '\e801'; } /* '' */
.icon-settings:before { content: '\e802'; } /* '' */
.icon-stop:before { content: '\e803'; } /* '' */
.icon-play:before { content: '\e804'; } /* '' */
.icon-hourglass:before { content: '\e805'; } /* '' */
.icon-check:before { content: '\e806'; } /* '' */
.icon-cancel:before { content: '\e807'; } /* '' */
.icon-pencil:before { content: '\e808'; } /* '' */
.icon-plus:before { content: '\e809'; } /* '' */
.icon-dot-3:before { content: '\e80a'; } /* '' */
.icon-arrow-right:before { content: '\e80b'; } /* '' */
.icon-record:before { content: '\e80c'; } /* '' */
.icon-gift:before { content: '\e80d'; } /* '' */
.icon-statistic:before { content: '\e80e'; } /* '' */
.icon-back:before { content: '\e80f'; } /* '' */
.icon-menu:before { content: '\e810'; } /* '' */
.icon-trash:before { content: '\e811'; } /* '' */
.icon-user-edit:before { content: '\e812'; } /* '' */
.icon-stopwatch:before { content: '\e813'; } /* '' */
.icon-palette:before { content: '\e814'; } /* '' */
.icon-archive:before { content: '\e815'; } /* '' */
.icon-refresh:before { content: '\e816'; } /* '' */
.icon-walking:before { content: '\e817'; } /* '' */
.icon-unarchive-icon:before { content: '\e819'; } /* '' */
.icon-archive-icon:before { content: '\e81a'; } /* '' */
.icon-export:before { content: '\e81c'; } /* '' */
.icon-import:before { content: '\e81e'; } /* '' */
.icon-bug:before { content: '\e827'; } /* '' */
.icon-bell:before { content: '\e828'; } /* '' */
.icon-dashboard:before { content: '\e829'; } /* '' */
.icon-sign-out:before { content: '\e82a'; } /* '' */
.icon-info-circled-alt:before { content: '\f086'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-sticky-note-o:before { content: '\f24a'; } /* '' */