@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?97900327');
  src: url('../font/fontello.eot?97900327#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?97900327') format('woff2'),
       url('../font/fontello.woff?97900327') format('woff'),
       url('../font/fontello.ttf?97900327') format('truetype'),
       url('../font/fontello.svg?97900327#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?97900327#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-attention:before { content: '\e800'; } /* '' */
.icon-settings:before { content: '\e801'; } /* '' */
.icon-stop:before { content: '\e802'; } /* '' */
.icon-play:before { content: '\e803'; } /* '' */
.icon-hourglass:before { content: '\e804'; } /* '' */
.icon-check:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-pencil:before { content: '\e807'; } /* '' */
.icon-plus:before { content: '\e808'; } /* '' */
.icon-dot-3:before { content: '\e809'; } /* '' */
.icon-arrow-right:before { content: '\e80a'; } /* '' */
.icon-record:before { content: '\e80b'; } /* '' */
.icon-gift:before { content: '\e80c'; } /* '' */
.icon-statistic:before { content: '\e80d'; } /* '' */
.icon-back:before { content: '\e80e'; } /* '' */
.icon-menu:before { content: '\e80f'; } /* '' */
.icon-trash:before { content: '\e810'; } /* '' */
.icon-user-edit:before { content: '\e811'; } /* '' */
.icon-stopwatch:before { content: '\e812'; } /* '' */
.icon-walking:before { content: '\e813'; } /* '' */
.icon-refresh:before { content: '\e814'; } /* '' */
.icon-bug:before { content: '\e827'; } /* '' */
.icon-bell:before { content: '\e828'; } /* '' */
.icon-dashboard:before { content: '\e829'; } /* '' */
.icon-sign-out:before { content: '\e82a'; } /* '' */
.icon-info-circled-alt:before { content: '\f086'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */