@import "./sass/variables.sass"

.ps-has-primary-color
  color: $primary !important

.ps-has-underline
  text-decoration: underline !important

@media (max-width: $ps-mobile)
  .ps-is-hidden-mobile
    display: none !important

@import "../node_modules/bulma/bulma.sass"
@import "assets/fonts/fontello/css/fontello.css"
