@import "./sass/fonts.sass"
@import "./sass/variables.sass"

.ps-has-primary-color
  color: $ps-primary !important

.ps-has-underline
  text-decoration: underline !important

.is-primary
  transition: all ease-in-out $ps-transitions
  &:hover
    background-color: lighten($ps-primary, 10%) !important

/* fix buttons height, for twitter bootstrap in fontello */
[class^="icon-"]:before, [class*=" icon-"]:before
  line-height: unset !important

*:focus
  outline-style: none !important

@media (max-width: $ps-mobile)
  .ps-is-hidden-mobile
    display: none !important

@media (min-width: 1024px)
  .ps-is-visible
    display: none !important

@import "../node_modules/bulma/bulma.sass"
@import "assets/fonts/fontello/css/fontello.css"
