<div class="is-centered">
  <div>
    <div class="ps-header-vertical-align has-text-centered">
      <img src="./assets/images/logo-blue.png" class="ps-image-resize has-text-centered">
      <h2>Supported Donations</h2>
    </div>
  </div>
  <div class="columns is-gapless is-mobile">
      <div class="column ps-header-vertical-align">
        <div class="ps-header-margin has-text-centered">
          <div class="ps-header-vertical-align">
            <ul>
              <li>
                <a href="https://www.coinpayments.net/index.php?cmd=_donate&reset=1&merchant=d88653deee05911e2438e35ec41c865e&item_name=Give%20some%20love%20to%20Pendulums%20project&currency=USD&amountf=10.00000000&allow_amount=1&want_shipping=0&allow_extra=1&cstyle=grid2"
                target="_blank">Coin payments</a>
              </li> <br>
              <li>
                <a href="https://idpay.ir/pendulums" target="_blank">Id pay</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</div>
