<div class="box ps-donation-background">
  <article class="media">
    <div class="media-content">
      <div class="content has-text-centered">
        <div class="ps-header-vertical-align">
          <div>
            <a href="https://www.coinpayments.net/index.php?cmd=_donate&reset=1&merchant=d88653deee05911e2438e35ec41c865e&item_name=Give%20some%20love%20to%20Pendulums%20project&currency=USD&amountf=10.00000000&allow_amount=1&want_shipping=0&allow_extra=1&cstyle=grid2"
              target="_blank" class="ps-grid-view">
              <img src="https://www.coinpayments.net/images/pub/donate-med-grey.png" alt="Donate with CoinPayments.net">
            </a>
            <hr class="ps-donation-line">
            <a href="https://idpay.ir/pendulums" target="_blank">
              <img src="https://idpay.ir/logo-orange.svg" alt="Donate with Idpay(for iranian users)">
              <b class="ps-link-color ps-grid-view">| for iranian users |</b>
            </a>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
