@import '../../../../sass/variables.sass'

.box
  border-radius: unset

.ps-grid-view
  display: block

.ps-header-vertical-align
  flex-direction: column
  display: flex
  justify-content: space-between

.ps-donation-background
  background-color: $ink

.ps-donation-line
  opacity: 0.3
  margin-top: 0

.ps-link-color
  color: $paper

