@import "../../sass/variables"

.hero-body
  margin-top: -120px
  @media (max-width: $ps-small-screen-size)
    padding: 0
    margin-top: -20px

.ps-app-background
  background-color: $ps-primary

.ps-auth-back
  border-radius: 4px !important
  background-color: $white
  box-shadow: 0 0 3px #999999
  padding: 20px
  max-width: 360px
  .ps-auth-logo-container
    margin-bottom: 1rem
    .ps-auth-logo
      width: 100px
      height: auto
      margin: 0 auto
  .ps-auth-input
    margin-top: 10px
    background-color: $white
    color: $ink
    box-shadow: 0 3px 5px rgba(0,0,0,.08)
  .ps-email-input
    text-transform: lowercase !important
  .ps-error
    border-color: $red !important
    color: $red !important
  .ps-login-error
    color: $red
    font-size:  0.8rem !important
    display: block
    min-height: 14px
    height: 14px
  .ps-auth-links
    &:hover
      color: lighten($ps-primary,30%) !important
  .ps-auth-buttons
    font-weight: 500
  .ps-google-login
    background-color: $red
    border-color: transparent !important
    color: $paper !important
    cursor: not-allowed
    transition: all ease-in-out $ps-transitions

