<div class="container ps-note-padding">
  <div class="ps-project-name-container">
    <div class="ps-activity-top-button icon-back" (click)="goBack()" title="Back"></div>
    <app-tab
        [tabs]="[{name: 'Board'}, {name: 'Archived'}]"
        (onTabClicked)="getSelectedTab($event)"
    >
    </app-tab>
    <div [ngClass]="!selectedTab ? 'ps-activity-top-button icon-plus' : '' " class="ps-tab" (click)="openCreateNoteModal()" title="Add new activity"></div>
  </div>
  <div *ngIf="!selectedTab" class="columns is-multiline">
    <div *ngFor='let active of actives'  class="column is-3-widescreen is-4-desktop is-4-tablet is-6-mobile">
      <note-item [note]="active" [projectsId]="projectsId"></note-item>
    </div>
  </div>
  <div class="columns is-multiline" *ngIf="selectedTab">
    <div *ngFor='let archive of archives' class="column is-3-widescreen is-4-desktop is-4-tablet is-6-mobile">
      <note-item [note]="archive"></note-item>
    </div>
  </div>
</div>
