@import '../../../sass/variables'

.ps-top-bar
  display: flex
  align-items: center
  justify-content: space-between
  flex-flow: row nowrap
  background-color: $white
  position: fixed
  width: 100%
  top: 0
  left: 0
  height: $top-bar-size
  z-index: 11
  .ps-top-bar-item
    display: flex
    align-items: center

    &.ps-top-bar-item-left
      padding-left: 24px
      justify-self: flex-start
      .ps-donation-btn
        background-color: $yellow
        width: $top-bar-size - 16px
        height: $top-bar-size - 16px
        border-radius: 100%
        display: flex
        justify-content: center
        align-items: center
        transition: all ease-in-out $ps-transitions
        &:hover
          background-color: darken($yellow, 20%)
        span
          font-size: 1.6rem

    &.ps-top-bar-item-right
      padding-right: 24px
      justify-self: flex-end
      .ps-user-image-container
        width: $top-bar-size - 16px
        height: $top-bar-size - 16px
        margin-left: 8px
        .ps-user-image
          margin: auto
          width: $top-bar-size - 16px
          height: $top-bar-size - 16px
          border-radius: 100%
          @media (max-width: $ps-change-menu-size)
            width: $top-bar-size - 16px
            height: $top-bar-size - 16px
            margin: unset
    @media (max-width: #{$ps-change-menu-size})
      &.ps-top-bar-item-left
        display: none
      &.ps-burger-menu
        display: flex
