<div class="ps-top-bar">
  <div class="ps-top-bar-item ps-top-bar-item-left">
    <a target="_blank" title="Donate to us" href="https://pendulums.io/donation.html" class="ps-donation-btn">
      <span class="icon-gift"></span>
    </a>
    <a (click)="syncSummary()" [ngClass]="{'is-disabled': !status.netStatus, 'ps-sync-disable': syncing}" style="transform: rotate(0deg);">
      <span class="icon-refresh" [ngClass]="{'ps-sync-animation': syncing}"></span>
    </a>
  </div>

  <div class="ps-top-bar-item ps-top-bar-item-center">
    <a [routerLink]="['dashboard']"><span class="icon-dashboard"></span><p>Dashboard</p></a>
    <a [routerLink]="['projects']"><span class="icon-projects"></span><p>Projects</p></a>
    <a [routerLink]="['notes']"><span class="icon-sticky-note-o"></span><p>Notes</p></a>
  </div>

  <div class="ps-top-bar-item ps-top-bar-item-right">
    <a #notifications>
      <span class="icon-bell"></span>
      <span class="ps-notification-count" *ngIf="user.pendingInvitations.length + notificationNumber > 0">{{user.pendingInvitations.length + notificationNumber}}</span>
    </a>
    <a class="ps-user-image-container">
      <img *ngIf="user.profileImage" class="ps-user-image"
           src="{{user.profileImage? environment.imagesEndpoint + '/profile/' + user.profileImage :
                    'assets/images/placeholder.png'}}" >
      <svg *ngIf="!user.profileImage" class="ps-user-image" width="36" height="36" [identiconHash]="emailHash">
        Your browser does not support SVG
      </svg>
    </a>
    <ng-content select="[alignRight]"></ng-content>
  </div>
</div>
